<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	<meta name="description" content="BlackMonk is used by more than 200 clients worldwide.Check out customer reviews and feedback." />

    <link rel="shortcut icon" href="/static/ico/favicon.png">

    <title>BlackMonk Reviews | Customers </title>
    
    <link href="/static/css/base.css" rel="stylesheet">
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,800,400,600,700' rel='stylesheet' type='text/css'>
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
	<link rel="stylesheet" href="/static/css/f.v0.2.css" type="text/css" media="all"/>
	<link rel="stylesheet" href="/static/css/ladda-themeless.min.css" type="text/css" media="all"/>
	<script type="text/javascript" src="/static/js/jquery/jquery.validate.min.js"></script>
 
  </head>

<!-- NAVBAR
================================================== -->
  <body class="customer">
    <div class="navbar-wrapper">
      <div class="container">
         <div class="navbar navbar-static-top">
	<div class="container" style="margin-bottom: 20px;">			
			<a style="text-decoration: none;color: white;font-size: 13px;text-transform: none;top: -19px;right: 469px;position: absolute;" href="/partners/">White Label Reseller Program <span style="background-color:#5bc0de;text-transform: capitalize;border-radius: 0.25em;letter-spacing: 1px;padding: 2px 4px;">new</span><a>			 
	</div>
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><div class="logo">Blackmonk</div></a>						
		  </div>
		<div class="navbar-collapse collapse pull-right">
			
			<div class="user-opt hide">
				<div class="btn-group">
				  <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    SaaS Admin <span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu float">
				    <li><a href="/account/signout/">Sign Out</a></li>
				  </ul>
				</div>
			</div>
			
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
				<li><a href="/features/">Features</a></li>
				<li><a href="/showcase/">Showcase</a></li>
				<li><a href="/customers/">Customers</a></li>
				<!--li><a href="/services/">Services</a></li-->
				<li><a class="btn btn-primary" href="/pricing/" >Pricing</a></li>
			</ul>
		</div>
	</div>
</div>


      </div>
    </div>
	 
	

<div class="container">      	

      <!-- START THE CLIENTS LOGOS -->

      	<div class="clearfix featurette customers text-center">
          <h2 class="featurette-heading"><span class="text-caps txt-pD">Over 200 Clients Worldwide</span></h2>
        </div>        
		    <div class="client-logos row">
            <div class="col-md-12 center-block clearfix">
                <div class="mRb35 col-tn-6 col-xs-3 col-sm-3 col-md-2"><img class="img-responsive" src="/static/images/clients/logos/b/5starwedding.png" alt="5starwedding.com"></div>
                <div class="mRb35 col-tn-6 col-xs-3 col-sm-3 col-md-2"><img class="img-responsive" src="/static/images/clients/logos/b/cillisuace.png" alt="Cillisuace.com"></div>
                <div class="mRb35 col-tn-6 col-xs-3 col-sm-3 col-md-2"><img class="img-responsive" src="/static/images/clients/logos/b/clubzone.png" alt="Clubzone.com"></div>
                <div class="mRb35 col-tn-6 col-xs-3 col-sm-3 col-md-2"><img class="img-responsive" src="/static/images/clients/logos/b/downtwonmiami.png" alt="Downtwonmiami.com"></div>
                <div class="mRb35 col-tn-6 col-xs-3 col-sm-3 col-md-2"><img class="img-responsive" src="/static/images/clients/logos/b/cda-logo.png" alt="CDA"></div>
                <div class="mRb35 col-tn-6 col-xs-3 col-sm-3 col-md-2"><img class="img-responsive" src="/static/images/clients/logos/b/gay-desert-guide.png" alt="Gay Desert Guide.com"></div>
                <div class="mRb35 col-tn-6 col-xs-3 col-sm-3 col-md-2"><img class="img-responsive" src="/static/images/clients/logos/b/hogo.png" alt="Hogo.com"></div>
                <div class="mRb35 col-tn-6 col-xs-3 col-sm-3 col-md-2"><img class="img-responsive" src="/static/images/clients/logos/b/kewlwallet.png" alt="kewlwallet"></div>
                <div class="mRb35 col-tn-6 col-xs-3 col-sm-3 col-md-2"><img class="img-responsive" src="/static/images/clients/logos/b/life-in-hoboken.png" alt="Life in Hoboken.com"></div>
                <div class="mRb35 col-tn-6 col-xs-3 col-sm-3 col-md-2"><img class="img-responsive" src="/static/images/clients/logos/b/macau.png" alt="Macau.com"></div>
                <div class="mRb35 col-tn-6 col-xs-3 col-sm-3 col-md-2"><img class="img-responsive" src="/static/images/clients/logos/b/manipal.png" alt="Manipal.com"></div>
                <div class="mRb35 col-tn-6 col-xs-3 col-sm-3 col-md-2"><img class="img-responsive" src="/static/images/clients/logos/b/peahive.png" alt="Peahive.com"></div>
                <div class="mRb35 col-tn-6 col-xs-3 col-sm-3 col-md-2"><img class="img-responsive" src="/static/images/clients/logos/b/special-kids.png" alt="Special kids.com"></div>
                <div class="mRb35 col-tn-6 col-xs-3 col-sm-3 col-md-2"><img class="img-responsive" src="/static/images/clients/logos/b/where-to-go.png" alt="Where to Go.com"></div>
                <div class="mRb35 col-tn-6 col-xs-3 col-sm-3 col-md-2"><img class="img-responsive" src="/static/images/clients/logos/b/wedzilla.png" alt="Weddzilla"></div>
                <div class="mRb35 col-tn-6 col-xs-3 col-sm-3 col-md-2"><img class="img-responsive" src="/static/images/clients/logos/b/ourcityradio.png" alt="ourcityradio"></div>
                <div class="mRb35 col-tn-6 col-xs-3 col-sm-3 col-md-2"><img class="img-responsive" src="/static/images/clients/logos/b/baynet-C.png" alt="baynet"></div>
                <div class="mRb35 col-tn-6 col-xs-3 col-sm-3 col-md-2"><img class="img-responsive" src="/static/images/clients/logos/b/clearskyradioC.png" alt="clearskyradio"></div>
                <div class="mRb35 col-tn-6 col-xs-3 col-sm-3 col-md-2"><img class="img-responsive" src="/static/images/clients/logos/b/orlandoC.png" alt="orlando"></div>
                <div class="mRb35 col-tn-6 col-xs-3 col-sm-3 col-md-2"><img class="img-responsive" src="/static/images/clients/logos/b/wrsC.png" alt="worldradio"></div>
                <div class="mRb35 col-tn-6 col-xs-3 col-sm-3 col-md-2"><img class="img-responsive" src="/static/images/clients/logos/b/mybangalore.png" alt="My Bangalore"></div>
                <div class="mRb35 col-tn-6 col-xs-3 col-sm-3 col-md-2"><img class="img-responsive" src="/static/images/clients/logos/b/mainstrocks.png" alt="Mainstrokes"></div>
                <div class="mRb35 col-tn-6 col-xs-3 col-sm-3 col-md-2"><img class="img-responsive" src="/static/images/clients/logos/b/kyiv-cool.png" alt="Kyiv.cool"></div>
                <div class="mRb35 col-tn-6 col-xs-3 col-sm-3 col-md-2"><img class="img-responsive" src="/static/images/clients/logos/b/restaurant-ct.png" alt="restaurant-ct Logo"></div>
                <div class="mRb35 col-tn-6 col-xs-3 col-sm-3 col-md-2"><img class="img-responsive" src="/static/images/clients/logos/b/christianhangsuite.png" alt="christianhangsuite Logo"></div>
                <div class="mRb35 col-tn-6 col-xs-3 col-sm-3 col-md-2"><img class="img-responsive" src="/static/images/clients/logos/b/discoverfb.png" alt="discoverfb Logo"></div>
                <div class="mRb35 col-tn-6 col-xs-3 col-sm-3 col-md-2"><img class="img-responsive" src="/static/images/clients/logos/b/bhukarian-communities.png" alt="longisland Logo"></div>
                
            </div>
        </div>
 
   
    </div><!-- /.container -->
    
    <div class="clearfix featurette clients-row feature-tour alt">
       <div class="container">
            <div class="clearfix">
            	 <h2 class="text-center mRb35">Testimonials</h2>
                     <div class="row" id="testimonials">
                         <div class="col-md-4 col-sm-6 testimonials">
                         	<div class="aBt-cLt">
                                <img class="img-circle aBt-cLt-aVtR" alt="Gregory Fernandez, TNTfinder" src="/static/images/clients/Paul_Larsen.jpg">
                                <small>
                                    <span class="nMe">Paul Larsen</span><br>
                                    <span class="cLr-lTgRy">President - Clear Sky Radio Inc</span>
                                </small>
                            </div>
                            <div class="cL-sD">
                                <div class="aRw-dWn"></div>
                                <blockquote>
                                    <p>"We decided to use BlackMonk for our radio station website after evaluating all the available options. BlackMonk is by far the best web publishing platform in terms of publishing capabilities, monetization opportunities and design."</p>
                                    
                                </blockquote>
                            </div>
                         </div>
                        <div class="col-md-4 col-sm-6 testimonials">
                          <div class="aBt-cLt">
                                <img class="img-circle aBt-cLt-aVtR" alt="Gregory Fernandez, TNTfinder" src="/static/images/clients/client-image-icon.png">
                                <small>
                                    <span class="nMe">Sharon Bell</span><br>
                                    <span class="cLr-lTgRy">President - TheBayNet.com</span>
                                </small>
                            </div>
                            <div class="cL-sD">
                                <div class="aRw-dWn"></div>
                                <blockquote>
                                    <p>"We hired BlackMonk for a complete makeover of our site, which was a very complex undertaking. We love the new site and so do our visitors. Plus, we now have a team which will help us get to the next level in the everchanging technological landscape."</p>
                                    
                                </blockquote>
                            </div>
                         </div>
                        <div class="col-md-4 col-sm-6 testimonials">
                            <div class="aBt-cLt">
                                <img class="img-circle aBt-cLt-aVtR" alt="Ralph Cristello Founder Internet Point Inc" src="/static/images/clients/brad-fuhr.jpg">
                                <small>
                                    <span class="nMe">Brad Fuhr</span><br>
                                    <span class="cLr-lTgRy">Founder - GayDesertGuide.com</span>
                                </small>
                            </div>
                            <div class="cL-sD">
                                <div class="aRw-dWn"></div>
                                <blockquote>
                                    <p>"Having worked for a software company, I know first hand the challenges of building and maintaining such a robust platform as BlackMonk offers.  We've been able to create a portal for the Palm Springs, California, area that far out shines any of our competition.  Users and clients alike comment on the variety of content not only that we author but also via Bookmarks and the numerous affiliate programs.  We've been able to customize the site for our needs and provide a great value for our advertisers.  I looked at numerous platforms, some of which I had worked with before, and none compared to the feature set that Blackmonk offers."</p>
                                    
                                </blockquote>
                            </div>
                         </div>
                         <div class="col-md-4 col-sm-6 testimonials">
                          <div class="aBt-cLt">
                                <img class="img-circle aBt-cLt-aVtR" alt="Giovanni A Calise" src="/static/images/clients/Giovanni_A_Calise.jpg">
                                <small>
                                    <span class="nMe">Giovanni A Calise</span><br>
                                    <span class="cLr-lTgRy">Executive Director - MainStRocks.com</span>
                                </small>
                            </div>
                            <div class="cL-sD">
                                <div class="aRw-dWn"></div>
                                <blockquote>
                                    <p>"BlackMonk came across as a perfect solution for our trendy magazine. Thanks to BlackMonk, we now have the ability to provide our viewers with information about latest trends in culture, hot-button news, deals and more. The BlackMonk team has provided quick and reliable support. I strongly recommend them to other publishers."</p>
                                    
                                </blockquote>
                            </div>
                         </div>
                         <div class="col-md-4 col-sm-6 testimonials">
                         	<div class="aBt-cLt">
                                    <img class="img-circle aBt-cLt-aVtR" alt="Ebube Anizor, Co-founder, Peahive" src="/static/images/clients/ebube-anizor-co-founder-peahive.jpg">
                                    <small>
                                        <span class="nMe">Ebube Anizor</span><br><span class="cLr-lTgRy">Co-founder - Peahive.com</span>
                                    </small>
                            </div>
                            <div class="cL-sD">
                                <div class="aRw-dWn"></div>
                                <blockquote>
                                    <p>“I searched for a year to find a modern full featured CMS solution that catered to city portals, was flexible and had features to help drive revenue. I can confidently say that few providers compare to BlackMonk - and none at their price point. I worked with the BlackMonk team to customize their software to meet our particular needs.
    They have been incredibly responsive and have delivered as promised.”</p>
                                    
                                </blockquote>
                            </div>
                         </div>
                         <div class="col-md-4 col-sm-6 testimonials">
                         	<div class="aBt-cLt">
                                    <img class="img-circle aBt-cLt-aVtR" alt="Allan Zuniga, Lifeinhoboken" src="/static/images/clients/allan_zuniga-lifeinhoboken.jpg">
                                    <small>
                                        <span class="nMe">Allan Zuniga</span><br><span class="cLr-lTgRy">CEO &amp; Founder - LifeInHoboken.com</span>
                                    </small>
                            </div>
                            <div class="cL-sD">
                                <div class="aRw-dWn"></div>
                                <blockquote>
                                    <p>“For over 2 years our team had work with various unsatisfactory platforms offering partial needs &amp; demands. It was until we found BlackMonk that our city portal became alive and productive. Thanks to the BlackMonk Team, now we are focus on building a very strong online community for &amp; with the people of Hoboken NJ. ”</p>
                                    
                                </blockquote>
                            </div>
                         </div>
						<div class="col-md-4 col-sm-6 testimonials">
                          <div class="aBt-cLt">
                                <img class="img-circle aBt-cLt-aVtR" alt="Gregory Fernandez, TNTfinder" src="/static/images/clients/client-image-icon.png">
                                <small>
                                    <span class="nMe">Michael Faurot</span><br>
                                    <span class="cLr-lTgRy">Founder - <a href="https://http://www.ibj316.com/">IBJ316.com</a></span>
                                </small>
                            </div>
                            <div class="cL-sD">
                                <div class="aRw-dWn"></div>
                                <blockquote>
                                    <p>"BlackMonk has proved to be an awesome solution for my website, and it has helped my business grow by leaps and bounds. I thank the BlackMonk team for excellent support and timely assistance."</p>
                                    
                                </blockquote>
                            </div>
                         </div>
                         <div class="col-md-4 col-sm-6 testimonials">
                         	<div class="aBt-cLt">
                                <img class="img-circle aBt-cLt-aVtR" alt="Silvia Morales,Founder,Downtownmiami" src="/static/images/clients/silvia-www.downtownmiami.com.jpg">
                                <small>
                                    <span class="nMe">Silvia Morales</span><br><span class="cLr-lTgRy">Founder - DownTownMiami.com</span>
                                </small>
                            </div>
                            <div class="cL-sD">
                                <div class="aRw-dWn"></div>
                                <blockquote>
                                    <p>“Going with BlackMonk has provided us with the reliability and technical expertise to be able focus on what we do best. We researched the options carefully and two years into our relationship with BlackMonk can say that this has been the very best decision we made towards having a site that represents the culmination of the time and effort we have put into Downtown Miami.”</p>
                                    
                                </blockquote>
                            </div>
                         </div>
                         <div class="col-md-4 col-sm-6 testimonials">
                         	<div class="aBt-cLt">
                                <img class="img-circle aBt-cLt-aVtR" alt="Gregory Fernandez, TNTfinder" src="/static/images/clients/Jarrett-L.-Carter-Sr.jpg">
                                <small>
                                    <span class="nMe">Jarett Carter</span><br>
                                    <span class="cLr-lTgRy">Founder - HBCU Digest.com</span>
                                </small>
                            </div>
                            <div class="cL-sD">
                                <div class="aRw-dWn"></div>
                                <blockquote>
                                    <p>"I received excellent support from the BlackMonk team. From the very start they seemed reliable and prepared for all my needs. My site looks great now, and I recommend BlackMonk to anyone seeking to take their website to the next level of exposure and earning potential."</p>
                                    
                                </blockquote>
                            </div>
                         </div>
                         <!--div class="col-md-4 col-sm-6 testimonials">
                          <div class="aBt-cLt">
                                <img class="img-circle aBt-cLt-aVtR" alt="Ralph Cristello Founder Internet Point Inc" src="/static/images/clients/ralph-cristello_founder-Internet-point_Inc.jpg">
                                <small>
                                    <span class="nMe">Ralph Cristello</span><br>
                                    <span class="cLr-lTgRy">Founder - Internet Point, Inc</span>
                                </small>
                            </div>
                            <div class="cL-sD">
                                <div class="aRw-dWn"></div>
                                <blockquote>
                                    <p>"I am EXTREMELY PLEASED with how the restaurants and nightlife sections came out. You guys are by far the most competent group I’ve dealt with. I brought you an idea and a few examples and you guys really knocked it out of the park... Nice work!"</p>
                                    
                                </blockquote>
                            </div>
                         </div-->
                         <div class="col-md-4 col-sm-6 testimonials">
                         	<div class="aBt-cLt">
                                <img class="img-circle aBt-cLt-aVtR" alt="Mike Schwarz, CEO, myZone Media Inc." src="/static/images/clients/mike-schwarz-ceo-myzone-media-inc.jpg">
                                <small>
                                    <span class="nMe">Mike Schwarz</span><br>
                                    <span class="cLr-lTgRy">CEO - myZone Media Inc.</span>
                                </small>
                            </div>
                            <div class="cL-sD">
                                <div class="aRw-dWn"></div>
                                <blockquote>
                                    <p>"You guys are doing a great job on the DV site!  We've made lots of progress in a very short period of time… we're definitely impressed."</p>
                                    
                                </blockquote>
                            </div>
                         </div>
                         <div class="col-md-4 col-sm-6 testimonials">
                         	<div class="aBt-cLt">
                                <img class="img-circle aBt-cLt-aVtR" alt="Andrew j Borislow Co-founder, Specialkids.com" src="/static/images/clients/andrew_j_borislow-co-founder-specialkids.jpg">
                                <small>
                                    <span class="nMe">Andrew J. Borislow</span><br>
                                    <span class="cLr-lTgRy">Co-founder - Specialkids.com</span>
                                </small>
                            </div>
                            <div class="cL-sD">
                                <div class="aRw-dWn"></div>
                                <blockquote>
                                    <p>"The team at Blackmonk has consistently provided me excellent customer care and intuitive attention to the development and improvements on my website. The unique customizations required to meet our user's requirements were performed in a timely manner with attention to detail. I am absolutely comfortable recommending Blackmonk."</p>
                                    
                                </blockquote>
                            </div>
                         </div>
                         <div class="col-md-4 col-sm-6 testimonials">
                         	<div class="aBt-cLt">
                                <img class="img-circle aBt-cLt-aVtR" alt=" Yasmine Torab, Co-founder, 5starweddingdirectory.com " src="/static/images/clients/client-image-icon.png">
                                <small>
                                    <span class="nMe">Yasmine Torab</span><br>
                                    <span class="cLr-lTgRy">Co-founder - <br>5StarWeddingDirectory.com</span>
                                </small>
                            </div>
                            <div class="cL-sD">
                                <div class="aRw-dWn"></div>
                                <blockquote>
                                    <p>"For me the key thing with software is the back-end, it helps to have a web portal which allows you to easily control things from the back-end. Also, it is important to be at the forefront of technology, so you can offer a great user experience and loads of features. The choice of technology platform is therefore an important consideration."</p>
                                    
                                </blockquote>
                            </div>
                         </div>
                         <div class="col-md-4 col-sm-6 testimonials">
                         	<div class="aBt-cLt">
                                <img class="img-circle aBt-cLt-aVtR" alt="Courtney Ballew, Founder, DoABQ" src="/static/images/clients/client-image-icon.png">
                                <small>
                                    <span class="nMe">Courtney Ballew</span><br><span class="cLr-lTgRy">Founder - DoABQ.com</span>
                                </small>
                            </div>
                            <div class="cL-sD">
                                <div class="aRw-dWn"></div>
                                <blockquote>
                                    <p>"By the way- I just wanted to thank you for this platform it is amazing. This is the fourth time I have tried to build this site in ten years and this is the first time I have succeeded in getting what I wanted. Everything looks great, thanks for all the hard work."</p>
                                    
                                </blockquote>
                            </div>
                         </div>
                         
                         <div class="col-md-4 col-sm-6 testimonials">
                         	<div class="aBt-cLt">
                                <img class="img-circle aBt-cLt-aVtR" alt="Courtney Ballew, Founder, DoABQ" src="/static/images/clients/client-image-icon.png">
                                <small>
                                    <span class="nMe">Kevin Parker</span><br><span class="cLr-lTgRy">Founder - ChristianHangSuite.com</span>
                                </small>
                            </div>
                            <div class="cL-sD">
                                <div class="aRw-dWn"></div>
                                <blockquote>
                                    <p>"Within the first week of launching my site, the traffic increased by nearly 100%. Our search rankings also jumped to #1 on Google for the key phrase 'DC Christian News'. I am extremely satisfied with Black Monk."</p>
                                    
                                </blockquote>
                            </div>
                         </div>
                         
                         <div class="col-md-4 col-sm-6 testimonials">
                         	<div class="aBt-cLt">
                                <img class="img-circle aBt-cLt-aVtR" alt="Courtney Ballew, Founder, DoABQ" src="/static/images/clients/IanBearder.jpg">
                                <small>
                                    <span class="nMe">Ian Bearder</span><br><span class="cLr-lTgRy">Founder - kyiv.cool</span>
                                </small>
                            </div>
                            <div class="cL-sD">
                                <div class="aRw-dWn"></div>
                                <blockquote>
                                    <p>"BlackMonk is a professional and high quality product which contains all the features we required to setup and run a local site. The BlackMonk team has provided excellent support, and we’ve always received quick response and timely help in resolving issues."</p>
                                    
                                </blockquote>
                            </div>
                         </div>
                         
                         <div class="col-md-4 col-sm-6 testimonials">
                         	<div class="aBt-cLt">
                                <img class="img-circle aBt-cLt-aVtR" alt="Steven Kaziyev, Director, BukharianCommunity.com" src="/static/images/clients/StevenKaziyev.jpg">
                                <small>
                                    <span class="nMe">Steven Kaziyev</span><br><span class="cLr-lTgRy">Director - BukharianCommunity.com</span>
                                </small>
                            </div>
                            <div class="cL-sD">
                                <div class="aRw-dWn"></div>
                                <blockquote>
                                    <p>"We decided to go with BlackMonk, because they had an impressive portfolio. We received excellent support from the BlackMonk team, and we recommend BlackMonk to anyone who wants to start a new portal or give a makeover to their existing website."</p>
                                    
                                </blockquote>
                            </div>
                         </div>
                         
                     </div>

              </div>
         </div>
    </div>

    <!-- FOOTER -->  
	<div class="footer-actions">
    <div class="container">
    	<div class="row text-center">
    		 <div class="col-xs-4">
    		 	<div class="request-demo"><span class="icon"></span></div>
				<h3>Request a Demo</h3>
				<p class="lead" style="color: rgb(102, 102, 102) ! important;">Let our expert show you how BlackMonk can help you publish content, build community, and monetize traffic.</p>
				<p><a class="btn btn-success request_demo" href="/request-demo/" role="button" data-target="#request-demo">Request a Demo</a></p>				
    		 </div>
             
    		 <div class="col-xs-4">
    		 	<div class="request-quote"><span class="icon"></span></div>
				<h3>Request a Quote</h3>
				<p class="lead" style="color: rgb(102, 102, 102) ! important;">Tell us your requirements. Get a quote customized to your exact requirements.</p>
				<p><a class="btn btn-success" href="/request-quote/" role="button">Request a Quote</a></p>
    		 </div>
             
    		 <div class="col-xs-4">
    		 	<div class="call"><span class="icon"></span></div>
				<h3>Questions? Call Us</h3>
				<p class="lead" style="color: rgb(102, 102, 102) ! important;">We are here to help you. <br>Talk to our expert.</p>
				<p class="contact">
					<span class="phone">+1 855-682-3330</span><br>
					<span class="email"><a href="mailto:contact@blackmonk.com" target="_blank">contact@blackmonk.com</a></span>
				</p>
    		 </div>
    	</div>
    </div> 
</div> 
<div class="modal fade" id="request-demo" tabindex="-1" role="dialog" aria-labelledby="request-demoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title" id="request-demoLabel">Request a Demo (Enterprise Edition)</h3>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
        	<button class="btn btn-light ladda-button" id="demobotton" data-style="expand-left" onclick="save_demo();"><span class="ladda-label">Submit</span></button>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="download-spec" tabindex="-1" role="dialog" aria-labelledby="download-specLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title" id="download-specLabel">Download Specsheet</h3>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
        	<button class="btn btn-light ladda-button" id="downloadbotton" data-style="expand-left" onclick="downloadspec();"><span class="ladda-label">Submit</span></button>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div> 
     
    
<footer>
	<div class="container">
		<div class="row">
			<!-- div class="col-md-2 col-xs-3 col-tn-12 footer-logo">
				<a href="#">Blackmonk</a>
			</div-->
			<div class="col-md-2 col-xs-3 col-tn-6 col-md-offset-2">
				<h5>PRODUCT</h5>
				<ul class="footer-nav">
					<li><a href="/features/">Features</a></li>
					<li><a href="/showcase/">Showcase</a></li>
	
					<li><a class="request_demo" href="/request-demo/" data-target="#request-demo">Request a Demo</a></li>
					<li><a href="/request-quote/">Request a Quote</a></li>
				</ul>
			</div>
			
			<div class="col-md-2 col-xs-3 col-tn-6 mRt20tn">
				<h5>BLACKMONK FOR</h5>
				<ul class="footer-nav">
					<li><a href="/city-portal/">City Portal</a></li>
					<li><a href="/national-portal/">National Portal</a></li>
					<li><a href="/radio-station-cms/">Radio Station Website</a></li>
					<li class="fade">.</li>
					<li class="fade">.</li>
					<li class="fade">.</li>
				</ul>
			</div>
			<div class="col-md-2 col-xs-3 col-tn-6">
				<h5>COMPANY</h5>
				<ul class="footer-nav">
					<li><a href="/about/">Our story</a></li>
					<li><a href="/team/">Team</a></li>
					<li><a href="/partners/">Partners</a></li>
                    <li><a href="/customers/">Customers</a></li>
                    <li><a href="/press/">Press</a></li>
					<li><a href="/terms-service/">Terms of Service</a></li>
					<li><a href="/privacy.html">Privacy Policy</a></li>
				</ul>
			</div>
			
			<div class="col-md-2 col-xs-3 col-tn-6 mRt20tn">
				<h5>CONNECT</h5>
				<ul class="footer-nav">
					<li><a href="/support/">Help & Support </a></li>
					<li><a href="/help">Knowledge Base</a></li>
					<li><a href="/blog/">Blog</a></li>
					<li><a href="/contactus/">Get in Touch</a></li>
					<li><a class="sMpfS10" href="mailto:contact@blackmonk.com" target="_blank">contact@blackmonk.com</a></li>
					<li class="social">
                    	<a href="https://twitter.com/blackmonkcom" class="twitter" target="_blank">Twitter</a>
                        <a href="https://www.facebook.com/blackmonkcom" class="facebook" target="_blank">facebook</a>
                        <a href="https://plus.google.com/112992211470718300676/" class="google" target="_blank">google plus</a>
                    </li>
				</ul>
			</div>
		</div>
		<div class="final clearfix sMpfS9 lTr-sPc">
            <!--span class="crafted"><a href="/humans.txt">Hand-crafted</a> by the <a href="http://doublespring.com" target="_blank">Doublespring Media</a></span -->
            <span class="copyright sMp-mRl-8">&copy; 2012-2016 All rights reserved.Blackmonk <a class="blackmonk-footer-logo" style='margin: -8px 8px !important;' href="/">Blackmonk</a> is a product of <a href="http://doublespring.com" target="_blank" style='display: inline-block;margin: -4.3px 0.8px;' >Doublespring</a>.</span>
        </div>
		<!-- div class="clearfix copy">
			<p class="pull-right">&copy; 2013 Blackmonk.</p>
		</div-->
	</div>
</footer>
 
 
	<!-- /END FOOTER -->
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/site.js"></script>
    <script src="/static/js/spin.min.js"></script>
    <script src="/static/js/ladda.min.js"></script>
	<script src="/static/js/selectDrop.js"></script>
	<script type="text/javascript" src="/static/js/jquery/bm.common.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
        $("a[data-target=#request-demo]").click(function(ev) {
           ev.preventDefault();
           target = $(this).attr("href");
        
           // load the url and show modal on success
           $("#request-demo .modal-body").load(target, function() {
                $("#request-demo").modal("show");
           });
        });
        $("a[data-target=#download-spec]").click(function(ev) {
            
           ev.preventDefault();
         
  				
           
           target = $(this).attr("href");
         

           // load the url and show modal on success
           $("#download-spec .modal-body").load(target, function() {
                $("#download-spec").modal("show");
               
           });
        });
		$("#demoform").validate({
			highlight: function(element, errorClass){$(element).parent().parent().addClass('field-error');$(element).addClass('error');},
			unhighlight: function(element, errorClass){$(element).parent().parent().removeClass('field-error');$(element).removeClass('error');},
			errorPlacement: function(error, element){},
		   	rules:{
				first_name:"required",
				email: {required:true,email:true},
				phone:"required",
		   	}
			
		});
		$("#specform").validate({
			highlight: function(element, errorClass){$(element).parent().parent().addClass('field-error');$(element).addClass('error');},
			unhighlight: function(element, errorClass){$(element).parent().parent().removeClass('field-error');$(element).removeClass('error');},
			errorPlacement: function(error, element){},
		   	rules:{
				name:"required",
				email: {required:true,email:true},
		   	}
			
		});
	});
</script>
<script>
var timeOut;
$('.request_demo').on('click',function(){
	if (typeof timeOut !=="undefined") {
		clearTimeout(timeOut);
	};
})

function save_demo(){
	var l = Ladda.create( document.querySelector( '#demobotton' ) );
    flag = $("#demoform").validate({
            highlight: function(element, errorClass){$(element).parent().parent().addClass('field-error');$(element).addClass('error');},
            unhighlight: function(element, errorClass){$(element).parent().parent().removeClass('field-error');$(element).removeClass('error');},
            errorPlacement: function(error, element){
				error.css('color','#CC3300');
      			error.insertAfter(element);
			},
            rules:{
                first_name:"required",
                email: {required:true,email:true},
                phone:"required",
                plan:"required",
            },
			messages: {
                first_name: "Please specify your name.",
				phone: "Enter your phone number.",
                email: {
                    required: "Enter your email address.",
                    email: "Please enter a valid email address.",
                },
			},
			errorElement: "span",
    }).form()
	if(flag){
	l.start();
    var dataString='first_name='+$('#first_name_id').val();
	dataString+='&email='+$('#email_id').val();
	dataString+='&company='+$('#company_id').val();
	dataString+='&website='+$('#website_id').val();
	dataString+='&phone='+$('#phone_id').val();
	dataString+='&type='+$('#type_id').val();
	dataString+='&plan='+$('#plan_id').val();
	/* setTimeout(function() {
   	$("#demobody").empty();
   	l.stop();
	$('#demobotton').html('Submitted');
	$('#demomsg').replaceWith('<div class="alert alert-success">Thank you for your request. Our support team will respond to you shortly.</div>').delay(100000);
	$('#demobotton').removeClass('disabled').html('Submit');
    }, 1000);
    timeOut = setTimeout(function() {
      $('#request-demo').modal('hide');
	}, 8000);
	 */
	$.ajax({
		type: "POST",
		url: "/request-demo/",
		data: dataString,
		dataType:'JSON',
		success: function(data){
				l.stop();
				$('#request-demo').modal('show');
				
				if(data.status){
					$('#demobotton').html('Submitted');
					$("#demobody").empty();
					$('#demomsg').replaceWith('<div class="alert alert-success">Thank you for your request. Our support team will respond to you shortly.</div>').delay(100000);
					setTimeout(function(){
  						$('#request-demo').modal('hide');
						$('#demobotton').removeClass('disabled').html('Submit');
					}, 5000);
				}
				else{					
					$('#demomsg').replaceWith('<div id="demomsg"><div class="alert alert-warning">Email is already used. Please change email.</div></div>').delay(10000);
					setTimeout(function(){
  						$('#demomsg').empty();						
					}, 5000);
					setTimeout(function(){
						 $('#request-demo').modal('hide');
					},20000);
					//$('#request-demo .modal-dialog .model-body').empty().append(data.html);
					//alert("Your request cannot be processed, Please try again later");
				}
		}
	});
}
}
var timeOut2;
$('.btn-product').on('click',function(){
	if (typeof timeOut2 !=="undefined") {
		clearTimeout(timeOut2);
	};
})
function downloadspec(){
	var l = Ladda.create( document.querySelector( '#downloadbotton' ) );
    flag = $("#specform").validate({
            highlight: function(element, errorClass){$(element).parent().parent().addClass('field-error');$(element).addClass('error');},
            unhighlight: function(element, errorClass){$(element).parent().parent().removeClass('field-error');$(element).removeClass('error');},
            errorPlacement: function(error, element){
				error.css('color','#CC3300');
      			error.insertAfter(element);
			},
            rules:{
                name:"required",
                email: {required:true,email:true},
                
            },
			messages: {
                
				name: "Please specify your name.",
                email: {
                    required: "Enter your email address.",
                    email: "Please enter a valid email address.",
                },
			},
			errorElement: "span",
    }).form()
	if(flag){
	l.start();
    var dataString='email='+$('#email_id').val();
    dataString+='&name='+$('#name_id').val();
    dataString+='&type='+$('#type_id').val();
    setTimeout(function() {
   	$("#downbody").empty();
   	l.stop();
	$('#downloadbotton').html('Submitted');
	$('#specmsg').replaceWith('<div class="alert alert-success text-center"><strong>DOWNLOAD SENT SUCCESSFULLY</strong><br>Check your email for the specsheet</div>').delay(100000);
	$('#downloadbotton').removeClass('disabled').html('Submit');
    }, 1000);
    timeOut2 = setTimeout(function() {
      $('#download-spec').modal('hide');
	}, 8000);
	$.ajax({
		type: "POST",
		url: "/download-spec/",
		data: dataString,
		dataType:'JSON',
		success: function(data){
				//l.stop();
				// $('#download-spec').modal('show');
				//$('#downloadbotton').html('Submitted');
				if(data.status){
					//$("#downbody").empty();
					//$('#specmsg').replaceWith('<div class="alert alert-success text-center"><strong>DOWNLOAD SENT SUCCESSFULLY</strong><br>Check your email for the specsheet</div>').delay(100000);
					//setTimeout(function(){
  						//$('#download-spec').modal('hide');
						
					//}, 4000);
				}
				else{
					alert("Sorry!!Your request cannot be processed, Please try again later");
				}
		}
	});
}
}

</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-31833330-1', 'blackmonk.com');
  ga('send', 'pageview');

</script>
    
<script src="/static/js/isotope.js"></script>
 <script>
	$(document).ready(function(e) {
		var $container = $('#testimonials'
		);
		$container.isotope();
		$(window).resize(function() {
			$container.isotope();
		});
		});
</script>

  </body>
</html>

