<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	<meta name="description" content="20+ apps, tons of features, and cutting edge technology to build your online media business." />

    <link rel="shortcut icon" href="/static/ico/favicon.png">

    <title>Web portal software features | Product overview </title>
    
    <link href="/static/css/base.css" rel="stylesheet">
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,800,400,600,700' rel='stylesheet' type='text/css'>
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
	<link rel="stylesheet" href="/static/css/f.v0.2.css" type="text/css" media="all"/>
	<link rel="stylesheet" href="/static/css/ladda-themeless.min.css" type="text/css" media="all"/>
	<script type="text/javascript" src="/static/js/jquery/jquery.validate.min.js"></script>
 
  </head>

<!-- NAVBAR
================================================== -->
  <body class="app_body">
    <div class="navbar-wrapper">
      <div class="container">
         <div class="navbar navbar-static-top">
	<div class="container" style="margin-bottom: 20px;">			
			<a style="text-decoration: none;color: white;font-size: 13px;text-transform: none;top: -19px;right: 469px;position: absolute;" href="/partners/">White Label Reseller Program <span style="background-color:#5bc0de;text-transform: capitalize;border-radius: 0.25em;letter-spacing: 1px;padding: 2px 4px;">new</span><a>			 
	</div>
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><div class="logo">Blackmonk</div></a>						
		  </div>
		<div class="navbar-collapse collapse pull-right">
			
			<div class="user-opt hide">
				<div class="btn-group">
				  <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    SaaS Admin <span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu float">
				    <li><a href="/account/signout/">Sign Out</a></li>
				  </ul>
				</div>
			</div>
			
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
				<li><a href="/features/">Features</a></li>
				<li><a href="/showcase/">Showcase</a></li>
				<li><a href="/customers/">Customers</a></li>
				<!--li><a href="/services/">Services</a></li-->
				<li><a class="btn btn-primary" href="/pricing/" >Pricing</a></li>
			</ul>
		</div>
	</div>
</div>


      </div>
    </div>
	 
	
<div class="container">
    	<div class="featurette text-center feature-tour clearfix">
          <h2 class="featurette-heading"><span class="text-caps">Comprehensive web publishing<br/>platform for media portals</span></h2>
          <div class="hero-static-bottom dark-btn">
			<a href="/request-demo/" role="button" data-target="#request-demo" class="btn btn-default btn-lg request_demo">Request a Demo</a>
			<a href="/request-quote/" class="btn btn-default btn-lg">Request a Quote</a>
		</div>
        </div>
        <hr class="featurette-divider feature-tour">
    	<div class="row">
			<div class="spec clearfix">
				<div class="featurette text-center clearfix spec-area"><!--spec-area-->
		    		<h2 class="featurette-heading">20+ Apps</h2>
		    		<p class="lead">Full suite of apps for multi-format publishing, community building, online promotion &amp; merchandising.</p>
		    		<a class="btn btn-light btn-product" href="/download-spec/" role="button" data-target="#download-spec">Download Specsheet</a>
	    		</div>
	    		<ul class="apps-modules list-unstyled">
					<li>
	    				<a href="/features/multicity/">
	    					<span class="icon rdo"></span>
	    					<span class="link">Multi-City</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="/features/articles-news-management/">
	    					<span class="icon rdo"></span>
	    					<span class="link">Articles</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="/features/news/">
	    					<span class="icon program"></span>
	    					<span class="link">News</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="/features/attractions/">
	    					<span class="icon article"></span>
	    					<span class="link">Attractions Guide</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="/features/movie-showtimes-software/">
	    					<span class="icon news"></span>
	    					<span class="link">Movie Showtimes</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="/features/photo-gallery/">
	    					<span class="icon events"></span>
	    					<span class="link">Photo Gallery</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="/features/video-gallery/">
	    					<span class="icon vdos"></span>
	    					<span class="link">Video Gallery</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="/features/radio-website/">
	    					<span class="icon rdo_web"></span>
	    					<span class="link">Radio Webcast</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="/features/radio-website/">
	    					<span class="icon pg_guides"></span>
	    					<span class="link">Program Guide</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="/features/event-calendar/">
	    					<span class="icon ev_cal"></span>
	    					<span class="link">Event Calendar</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="/features/directory-software/">
	    					<span class="icon bz_dir"></span>
	    					<span class="link">Business Directory</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="/features/classifieds/">
	    					<span class="icon clsf"></span>
	    					<span class="link">Classifieds</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="/features/real-estate-website/">
	    					<span class="icon rl_est"></span>
	    					<span class="link">Real Estate</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="/features/restaurant-guide/">
	    					<span class="icon rstrn"></span>
	    					<span class="link">Restaurants</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="/features/coupon-software/">
	    					<span class="icon dls"></span>
	    					<span class="link">Deal Store</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="/features/ecommerce/">
	    					<span class="icon e_shp"></span>
	    					<span class="link">eShop</span>
	    				</a>
	    			</li>

	    			<li>
	    				<a href="/features/banner-management/">
	    					<span class="icon bnr_mng"></span>
	    					<span class="link">Banner Management</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="/features/forum-software/">
	    					<span class="icon com_nity"></span>
	    					<span class="link">Community</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="/features/bookmarks/">
	    					<span class="icon book_mrk"></span>
	    					<span class="link">Bookmarks</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="/features/online-polls-software/">
	    					<span class="icon pol_s"></span>
	    					<span class="link">Polls</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="/features/contest-sweepstakes-software/">
	    					<span class="icon cont_ests"></span>
	    					<span class="link">Contests</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="/features/custom-pages/">
	    					<span class="icon custom-pages"></span>
	    					<span class="link">Custom Pages</span>
	    				</a>
	    			</li>
					<li>
	    				<a href="/features/custom-themes/">
	    					<span class="icon custom-pages"></span>
	    					<span class="link">Custom Themes</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="/features/advertise-page/">
	    					<span class="icon advr-pg"></span>
	    					<span class="link">Advertising pages</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="/features/user-management/">
	    					<span class="icon user-mg"></span>
	    					<span class="link">User Management</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="/features/seo/">
	    					<span class="icon seo-mg"></span>
	    					<span class="link">SEO</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="/features/data-migration/">
	    					<span class="icon data-mg"></span>
	    					<span class="link">Data migration</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="/features/social-share/">
	    					<span class="icon social-mg"></span>
	    					<span class="link">Social Sharing</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="/features/google-services/">
	    					<span class="icon google-icon"></span>
	    					<span class="link">Google Services</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="/features/affiliate/">
	    					<span class="icon affil-mark"></span>
	    					<span class="link">Affiliate Programs</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="/features/channels/">
	    					<span class="icon channels-icon"></span>
	    					<span class="link">Channels</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="/features/email-templates/">
	    					<span class="icon email-icon"></span>
	    					<span class="link">Email Templates</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="/features/payment-gateway/">
	    					<span class="icon payment-icon"></span>
	    					<span class="link">Payment Gateways</span>
	    				</a>
	    			</li>
	    		</ul>
    		</div>
    		<hr class="featurette-divider">
    	</div>
		<div class="row featurette text-center">
	    	<div class="col-sm-12">
	            <h2 class="featurette-heading"><span class="text-caps">100+ Features</span></h2>
	            <p class="lead">Thoughtful features for an exceptional portal experience.</p>
	        </div>
	    </div>
	    <div class="row featurette feature-tour">
			<div class="col-sm-4">
				<div class="icon responsive"></div>
				<h4 class="featurette-heading-xs lH16sm pDl40sm">Web &amp; Mobile Ready</h4>
				<p class="small">Choose from a range of responsive templates and serve content across computers and mobile devices</p>
			</div>
			<div class="col-sm-4 mRt30sm">
				<div class="icon user"></div>
				<h4 class="featurette-heading-xs lH16sm pDl40sm">User Engagement</h4>
				<p class="small">Enable users to contribute content, post comments or reviews and share content on social networks.</p>
			</div>
			<div class="col-sm-4 mRt30sm">
				<div class="icon content"></div>
				<h4 class="featurette-heading-xs lH16sm pDl40sm">Content Management</h4>
				<p class="small">Create, manage and moderate content with ease. Track edit logs, views and ensure timely removal of obsolete content.</p>
			</div>
		</div>
		<div class="row featurette feature-tour mRt0sm">
			<div class="col-sm-4 mRt30sm">
				<div class="icon th_party"></div>
				<h4 class="featurette-heading-xs lH16sm pDl40sm">Third Party Integrations</h4>
				<p class="small">Aggregate content from third party sources and integrate Google services, social media feeds and affiliate services.</p>
			</div>
			<div class="col-sm-4 mRt30sm">
				<div class="icon monethization"></div>
				<h4 class="featurette-heading-xs lH16sm pDl40sm">Monetization</h4>
				<p class="small">Create new revenue channels based on Ads, subscription &amp; coupon sales - supported by a self-service transaction system.</p>
			</div>
			<div class="col-sm-4 mRt30sm">
				<div class="icon adminstration"></div>
				<h4 class="featurette-heading-xs lH16sm pDl40sm">Easy Administration</h4>
				<p class="small">Enjoy full control over features and moderation settings. Define staff roles and privileges in-line with your editorial processes.</p>
			</div>
		</div>
		<div class="row featurette feature-tour mRt0sm">
			<div class="col-sm-4 mRt30sm">
				<div class="icon web_manage"></div>
				<h4 class="featurette-heading-xs lH16sm pDl40sm">Website Management</h4>
				<p class="small">Manage global features including site navigation, social login, auto-response templates, user accounts and more.</p>
			</div>
			<div class="col-sm-4 mRt30sm">
				<div class="icon seo"></div>
				<h4 class="featurette-heading-xs lH16sm pDl40sm">SEO Features</h4>
				<p class="small">Enjoy full control over SEO and drive more traffic through Google rich snippet optimization</p>
			</div>
			<div class="col-sm-4 mRt30sm">
				<div class="icon analytics"></div>
				<h4 class="featurette-heading-xs lH16sm pDl40sm">Analytics &amp; Reports</h4>
				<p class="small">Track web traffic, user activity and revenues across 50+ KPIs. And, get deep insights about user/advertiser preferences.</p>
			</div>
		</div>
		<hr class="featurette-divider">
		<div class="row featurette text-center">
        	<div class="col-sm-12">
            	<h2 class="featurette-heading"><span class="text-caps">Technology Stack</span></h2>
                <p class="lead">BlackMonk is built on Python Django framework and uses a range of web technologies like HTML5, jQuery, Bootstrap, celery etc.</p>
                <img class="featurette-image img-responsive" style="opacity:.33" src="../../static/images/marketing/technology.png" alt="Technology">
            </div>
        </div>
    </div>

    <!-- FOOTER -->  
	<div class="footer-actions">
    <div class="container">
    	<div class="row text-center">
    		 <div class="col-xs-4">
    		 	<div class="request-demo"><span class="icon"></span></div>
				<h3>Request a Demo</h3>
				<p class="lead" style="color: rgb(102, 102, 102) ! important;">Let our expert show you how BlackMonk can help you publish content, build community, and monetize traffic.</p>
				<p><a class="btn btn-success request_demo" href="/request-demo/" role="button" data-target="#request-demo">Request a Demo</a></p>				
    		 </div>
             
    		 <div class="col-xs-4">
    		 	<div class="request-quote"><span class="icon"></span></div>
				<h3>Request a Quote</h3>
				<p class="lead" style="color: rgb(102, 102, 102) ! important;">Tell us your requirements. Get a quote customized to your exact requirements.</p>
				<p><a class="btn btn-success" href="/request-quote/" role="button">Request a Quote</a></p>
    		 </div>
             
    		 <div class="col-xs-4">
    		 	<div class="call"><span class="icon"></span></div>
				<h3>Questions? Call Us</h3>
				<p class="lead" style="color: rgb(102, 102, 102) ! important;">We are here to help you. <br>Talk to our expert.</p>
				<p class="contact">
					<span class="phone">+1 855-682-3330</span><br>
					<span class="email"><a href="mailto:contact@blackmonk.com" target="_blank">contact@blackmonk.com</a></span>
				</p>
    		 </div>
    	</div>
    </div> 
</div> 
<div class="modal fade" id="request-demo" tabindex="-1" role="dialog" aria-labelledby="request-demoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title" id="request-demoLabel">Request a Demo (Enterprise Edition)</h3>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
        	<button class="btn btn-light ladda-button" id="demobotton" data-style="expand-left" onclick="save_demo();"><span class="ladda-label">Submit</span></button>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="download-spec" tabindex="-1" role="dialog" aria-labelledby="download-specLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title" id="download-specLabel">Download Specsheet</h3>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
        	<button class="btn btn-light ladda-button" id="downloadbotton" data-style="expand-left" onclick="downloadspec();"><span class="ladda-label">Submit</span></button>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div> 
     
    
<footer>
	<div class="container">
		<div class="row">
			<!-- div class="col-md-2 col-xs-3 col-tn-12 footer-logo">
				<a href="#">Blackmonk</a>
			</div-->
			<div class="col-md-2 col-xs-3 col-tn-6 col-md-offset-2">
				<h5>PRODUCT</h5>
				<ul class="footer-nav">
					<li><a href="/features/">Features</a></li>
					<li><a href="/showcase/">Showcase</a></li>
	
					<li><a class="request_demo" href="/request-demo/" data-target="#request-demo">Request a Demo</a></li>
					<li><a href="/request-quote/">Request a Quote</a></li>
				</ul>
			</div>
			
			<div class="col-md-2 col-xs-3 col-tn-6 mRt20tn">
				<h5>BLACKMONK FOR</h5>
				<ul class="footer-nav">
					<li><a href="/city-portal/">City Portal</a></li>
					<li><a href="/national-portal/">National Portal</a></li>
					<li><a href="/radio-station-cms/">Radio Station Website</a></li>
					<li class="fade">.</li>
					<li class="fade">.</li>
					<li class="fade">.</li>
				</ul>
			</div>
			<div class="col-md-2 col-xs-3 col-tn-6">
				<h5>COMPANY</h5>
				<ul class="footer-nav">
					<li><a href="/about/">Our story</a></li>
					<li><a href="/team/">Team</a></li>
					<li><a href="/partners/">Partners</a></li>
                    <li><a href="/customers/">Customers</a></li>
                    <li><a href="/press/">Press</a></li>
					<li><a href="/terms-service/">Terms of Service</a></li>
					<li><a href="/privacy.html">Privacy Policy</a></li>
				</ul>
			</div>
			
			<div class="col-md-2 col-xs-3 col-tn-6 mRt20tn">
				<h5>CONNECT</h5>
				<ul class="footer-nav">
					<li><a href="/support/">Help & Support </a></li>
					<li><a href="/help">Knowledge Base</a></li>
					<li><a href="/blog/">Blog</a></li>
					<li><a href="/contactus/">Get in Touch</a></li>
					<li><a class="sMpfS10" href="mailto:contact@blackmonk.com" target="_blank">contact@blackmonk.com</a></li>
					<li class="social">
                    	<a href="https://twitter.com/blackmonkcom" class="twitter" target="_blank">Twitter</a>
                        <a href="https://www.facebook.com/blackmonkcom" class="facebook" target="_blank">facebook</a>
                        <a href="https://plus.google.com/112992211470718300676/" class="google" target="_blank">google plus</a>
                    </li>
				</ul>
			</div>
		</div>
		<div class="final clearfix sMpfS9 lTr-sPc">
            <!--span class="crafted"><a href="/humans.txt">Hand-crafted</a> by the <a href="http://doublespring.com" target="_blank">Doublespring Media</a></span -->
            <span class="copyright sMp-mRl-8">&copy; 2012-2016 All rights reserved.Blackmonk <a class="blackmonk-footer-logo" style='margin: -8px 8px !important;' href="/">Blackmonk</a> is a product of <a href="http://doublespring.com" target="_blank" style='display: inline-block;margin: -4.3px 0.8px;' >Doublespring</a>.</span>
        </div>
		<!-- div class="clearfix copy">
			<p class="pull-right">&copy; 2013 Blackmonk.</p>
		</div-->
	</div>
</footer>
 
 
	<!-- /END FOOTER -->
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/site.js"></script>
    <script src="/static/js/spin.min.js"></script>
    <script src="/static/js/ladda.min.js"></script>
	<script src="/static/js/selectDrop.js"></script>
	<script type="text/javascript" src="/static/js/jquery/bm.common.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
        $("a[data-target=#request-demo]").click(function(ev) {
           ev.preventDefault();
           target = $(this).attr("href");
        
           // load the url and show modal on success
           $("#request-demo .modal-body").load(target, function() {
                $("#request-demo").modal("show");
           });
        });
        $("a[data-target=#download-spec]").click(function(ev) {
            
           ev.preventDefault();
         
  				
           
           target = $(this).attr("href");
         

           // load the url and show modal on success
           $("#download-spec .modal-body").load(target, function() {
                $("#download-spec").modal("show");
               
           });
        });
		$("#demoform").validate({
			highlight: function(element, errorClass){$(element).parent().parent().addClass('field-error');$(element).addClass('error');},
			unhighlight: function(element, errorClass){$(element).parent().parent().removeClass('field-error');$(element).removeClass('error');},
			errorPlacement: function(error, element){},
		   	rules:{
				first_name:"required",
				email: {required:true,email:true},
				phone:"required",
		   	}
			
		});
		$("#specform").validate({
			highlight: function(element, errorClass){$(element).parent().parent().addClass('field-error');$(element).addClass('error');},
			unhighlight: function(element, errorClass){$(element).parent().parent().removeClass('field-error');$(element).removeClass('error');},
			errorPlacement: function(error, element){},
		   	rules:{
				name:"required",
				email: {required:true,email:true},
		   	}
			
		});
	});
</script>
<script>
var timeOut;
$('.request_demo').on('click',function(){
	if (typeof timeOut !=="undefined") {
		clearTimeout(timeOut);
	};
})

function save_demo(){
	var l = Ladda.create( document.querySelector( '#demobotton' ) );
    flag = $("#demoform").validate({
            highlight: function(element, errorClass){$(element).parent().parent().addClass('field-error');$(element).addClass('error');},
            unhighlight: function(element, errorClass){$(element).parent().parent().removeClass('field-error');$(element).removeClass('error');},
            errorPlacement: function(error, element){
				error.css('color','#CC3300');
      			error.insertAfter(element);
			},
            rules:{
                first_name:"required",
                email: {required:true,email:true},
                phone:"required",
                plan:"required",
            },
			messages: {
                first_name: "Please specify your name.",
				phone: "Enter your phone number.",
                email: {
                    required: "Enter your email address.",
                    email: "Please enter a valid email address.",
                },
			},
			errorElement: "span",
    }).form()
	if(flag){
	l.start();
    var dataString='first_name='+$('#first_name_id').val();
	dataString+='&email='+$('#email_id').val();
	dataString+='&company='+$('#company_id').val();
	dataString+='&website='+$('#website_id').val();
	dataString+='&phone='+$('#phone_id').val();
	dataString+='&type='+$('#type_id').val();
	dataString+='&plan='+$('#plan_id').val();
	/* setTimeout(function() {
   	$("#demobody").empty();
   	l.stop();
	$('#demobotton').html('Submitted');
	$('#demomsg').replaceWith('<div class="alert alert-success">Thank you for your request. Our support team will respond to you shortly.</div>').delay(100000);
	$('#demobotton').removeClass('disabled').html('Submit');
    }, 1000);
    timeOut = setTimeout(function() {
      $('#request-demo').modal('hide');
	}, 8000);
	 */
	$.ajax({
		type: "POST",
		url: "/request-demo/",
		data: dataString,
		dataType:'JSON',
		success: function(data){
				l.stop();
				$('#request-demo').modal('show');
				
				if(data.status){
					$('#demobotton').html('Submitted');
					$("#demobody").empty();
					$('#demomsg').replaceWith('<div class="alert alert-success">Thank you for your request. Our support team will respond to you shortly.</div>').delay(100000);
					setTimeout(function(){
  						$('#request-demo').modal('hide');
						$('#demobotton').removeClass('disabled').html('Submit');
					}, 5000);
				}
				else{					
					$('#demomsg').replaceWith('<div id="demomsg"><div class="alert alert-warning">Email is already used. Please change email.</div></div>').delay(10000);
					setTimeout(function(){
  						$('#demomsg').empty();						
					}, 5000);
					setTimeout(function(){
						 $('#request-demo').modal('hide');
					},20000);
					//$('#request-demo .modal-dialog .model-body').empty().append(data.html);
					//alert("Your request cannot be processed, Please try again later");
				}
		}
	});
}
}
var timeOut2;
$('.btn-product').on('click',function(){
	if (typeof timeOut2 !=="undefined") {
		clearTimeout(timeOut2);
	};
})
function downloadspec(){
	var l = Ladda.create( document.querySelector( '#downloadbotton' ) );
    flag = $("#specform").validate({
            highlight: function(element, errorClass){$(element).parent().parent().addClass('field-error');$(element).addClass('error');},
            unhighlight: function(element, errorClass){$(element).parent().parent().removeClass('field-error');$(element).removeClass('error');},
            errorPlacement: function(error, element){
				error.css('color','#CC3300');
      			error.insertAfter(element);
			},
            rules:{
                name:"required",
                email: {required:true,email:true},
                
            },
			messages: {
                
				name: "Please specify your name.",
                email: {
                    required: "Enter your email address.",
                    email: "Please enter a valid email address.",
                },
			},
			errorElement: "span",
    }).form()
	if(flag){
	l.start();
    var dataString='email='+$('#email_id').val();
    dataString+='&name='+$('#name_id').val();
    dataString+='&type='+$('#type_id').val();
    setTimeout(function() {
   	$("#downbody").empty();
   	l.stop();
	$('#downloadbotton').html('Submitted');
	$('#specmsg').replaceWith('<div class="alert alert-success text-center"><strong>DOWNLOAD SENT SUCCESSFULLY</strong><br>Check your email for the specsheet</div>').delay(100000);
	$('#downloadbotton').removeClass('disabled').html('Submit');
    }, 1000);
    timeOut2 = setTimeout(function() {
      $('#download-spec').modal('hide');
	}, 8000);
	$.ajax({
		type: "POST",
		url: "/download-spec/",
		data: dataString,
		dataType:'JSON',
		success: function(data){
				//l.stop();
				// $('#download-spec').modal('show');
				//$('#downloadbotton').html('Submitted');
				if(data.status){
					//$("#downbody").empty();
					//$('#specmsg').replaceWith('<div class="alert alert-success text-center"><strong>DOWNLOAD SENT SUCCESSFULLY</strong><br>Check your email for the specsheet</div>').delay(100000);
					//setTimeout(function(){
  						//$('#download-spec').modal('hide');
						
					//}, 4000);
				}
				else{
					alert("Sorry!!Your request cannot be processed, Please try again later");
				}
		}
	});
}
}

</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-31833330-1', 'blackmonk.com');
  ga('send', 'pageview');

</script>
    
  </body>
</html>

