<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	<meta name="description" content="Create a portal for regional/national audience and publish content across multiple location specific site" />

    <link rel="shortcut icon" href="/static/ico/favicon.png">

    <title>CMS for national & regional portal  | BlackMonk </title>
    
    <link href="/static/css/base.css" rel="stylesheet">
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,800,400,600,700' rel='stylesheet' type='text/css'>
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
	<link rel="stylesheet" href="/static/css/f.v0.2.css" type="text/css" media="all"/>
	<link rel="stylesheet" href="/static/css/ladda-themeless.min.css" type="text/css" media="all"/>
	<script type="text/javascript" src="/static/js/jquery/jquery.validate.min.js"></script>
 
<link href="/static/css/base.css" rel="stylesheet">
<link href="/static/css/lightSlidernew.css" rel="stylesheet">



  </head>

<!-- NAVBAR
================================================== -->
  <body class="home hero-start radio_temp national_temp">
    <div class="navbar-wrapper">
      <div class="container">
         <div class="navbar navbar-static-top">
	<div class="container" style="margin-bottom: 20px;">			
			<a style="text-decoration: none;color: white;font-size: 13px;text-transform: none;top: -19px;right: 469px;position: absolute;" href="/partners/">White Label Reseller Program <span style="background-color:#5bc0de;text-transform: capitalize;border-radius: 0.25em;letter-spacing: 1px;padding: 2px 4px;">new</span><a>			 
	</div>
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><div class="logo">Blackmonk</div></a>						
		  </div>
		<div class="navbar-collapse collapse pull-right">
			
			<div class="user-opt hide">
				<div class="btn-group">
				  <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    SaaS Admin <span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu float">
				    <li><a href="/account/signout/">Sign Out</a></li>
				  </ul>
				</div>
			</div>
			
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
				<li><a href="/features/">Features</a></li>
				<li><a href="/showcase/">Showcase</a></li>
				<li><a href="/customers/">Customers</a></li>
				<!--li><a href="/services/">Services</a></li-->
				<li><a class="btn btn-primary" href="/pricing/" >Pricing</a></li>
			</ul>
		</div>
	</div>
</div>


      </div>
    </div>
	

<div class="hero" id="banner-h">
    	<div class="hero-inner">
		    <div class="hero-static">
			    <h1><span class="sub-title">Web publishing platform for</span> regional &amp; national portal</h1>
				<div class="hero-static-bottom request_demo">
					<a href="/request-demo/" data-target="#request-demo" class="btn btn-default btn-lg btn-product">Request a Demo</a>
				</div>
		    </div>
    	</div>
    </div>    
    

	
<div class="subnav-navbar" id="sub_height">
		    <div class="container">
	    		<div class="row">
	    			<div class="col-xs-12">
				    	<ul class="sub-navbar clearfix" id="b-modules"><!-- SUB NAVS Navs Horizontal -->
				    	    <li class="active" data-tab="tab-1">
				    	    	<a href="javascript:void(0)"><span class="icon live"></span><span class="link">Sub-Domain Sites</span></a>
				    	    </li>
				    	    <li data-tab="tab-2">
				    	    	<a href="javascript:void(0)"><span class="icon prg"></span><span class="link">Monetization Options</span></a>
				    	    </li>
				    	    <li data-tab="tab-3">
				    	    	<a href="javascript:void(0)"><span class="icon artist"></span><span class="link">Multi-Format Content</span></a>
				    	    </li>
				    	    <li data-tab="tab-4">
				    	    	<a href="javascript:void(0)"><span class="icon cont"></span><span class="link">Directory Services</span></a>
				    	    </li>
				    	    <li data-tab="tab-5">
				    	    	<a href="javascript:void(0)"><span class="icon mone"></span><span class="link">Community</span></a>
				    	    </li>
				    	    <li data-tab="tab-6">
				    	    	<a href="javascript:void(0)"><span class="icon more"></span><span class="link">More</span></a>
				    	    </li>
				    	</ul>
				    </div>
				</div>
		    </div>
		</div><!--subnav-->    
    
    
	<div class="clearfix featurette spec-sec" id="carousel">
		<div class="webcast">
			<div class="controls cS-hidden">
				<div id="prev" class="icon prv"></div>
				<div id="next" class="icon next"></div>
			</div>
			<div class="container">
				<ul class="list-unstyled slider cS-hidden" id="webcast">
					<li class="tab-act">
						<div class="col-sm-6">
							<img src="/static/images/Sub-Domain Sites.png" alt="Blackmonk Subdomain" class="img-responsive" />
						</div>
						<div class="col-sm-5">
							<div class="featurette">
								<div class="featurette-heading clearfix">
									<h3 class="h1">Create location specific<br/>sub-domain sites</h3>
								</div>
								<p class="lead">Cater to a large audience spread across multiple cities, by creating dedicated sub-domain site for each city.</p>
							</div>
						</div>
					</li>
					<li class="tab-act">
						<div class="col-sm-6">
							<img src="/static/images/revenue.png" alt="Blackmonk revenue" class="img-responsive" />
						</div>
						<div class="col-sm-5">
							<div class="featurette">
								<div class="featurette-heading clearfix">
									<h3 class="h1">Convert your revenue model into a viable online business</h3>
								</div>
								<p class="lead">BlackMonk offers widest range of monetization options to bring your business idea to life. Create revenues through directory subscription, coupon sales, advertising and more</p>
						</div>
					</li>

					<li class="tab-act">
						<div class="col-sm-6">
							<img src="/static/images/Multi-Format Content.png" alt="" class="img-responsive" />
						</div>
						<div class="col-sm-5">
							<div class="featurette">
								<div class="featurette-heading clearfix">
									<h3 class="h1">Publish articles, media galleries, event calendar and more</h3>
								</div>
								<p class="lead">Create impact through content. Publish news stories, photos, videos and events across multiple sites.</p>
							</div>
						</div>
					</li>

					<li class="tab-act">
						<div class="col-sm-6">
							<img src="/static/images/Directory Services.png" alt="" class="img-responsive" />
						</div>
						<div class="col-sm-5">
							<div class="featurette">
								<div class="featurette-heading clearfix">
									<h3 class="h1">Start local/national directory for any niche</h3>
								</div>
								<p class="lead">Start an online directory service for businesses, professional services, health care etc. And, give your users quick access to essential information.</p>
							</div>
						</div>
					</li>

					<li class="tab-act">
						<div class="col-sm-6">
							<img src="/static/images/Community.png" alt="" class="img-responsive" />
						</div>
						<div class="col-sm-5">
							<div class="featurette">
								<div class="featurette-heading clearfix">
									<h3 class="h1">Create a vibrant community space where people connect &amp; share</h3>
								</div>
								<p class="lead">Drive user engagement through social integration, and provide users an online space for discussion and sharing.</p>
							</div>
						</div>
					</li>
					<li class="tab-act">
						<div class="col-sm-12">
							<div class="featurette">
								<div class="featurette-heading clearfix text-center">
									<h3 class="h1 mRt0">Great features to help manage your<br/>regional/national portal</h3>
								</div>
								<div class="row">
									<div class="container pD13pc">
										<div class="row">
											<div class="col-sm-6">
												<ol class="lead">
												    <li>Effective system for managing sub-domain sites</li>
												    <li>Staff roles &amp; permissions</li>
												    <li>Automated email response with custom templates</li>
												    <li>Comments, social sharing &amp; user generated content</li>
												</ol>
											</div>
											<div class="col-sm-6">
												<ol class="lead">
												    <li>Self-service transaction system + integrated payment gateway</li>
												    <li>Analytics &amp; business reports</li>
												    <li>Data &amp; content migration</li>
												</ol>
											</div>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="clearfix featurette vertical-apps alt">
	    <div class="container">
	    	<div class="text-center">
		    	<h2 class="featurette-heading"><span class="text-caps">Create an awesome online experience with widest<br/>range of apps for your national portal</span></h2>
	    		<a class="btn radio-btn btn-default btn-lg btn-product" href="/download-spec/?type=NationalCMS" data-target="#download-spec">Download Specsheet</a>
	    	</div>
    		<ul class="modules list-unstyled">
    			<li><a href="/features/articles-news-management/"><span class="icon rdo"></span><span class="link">Articles</span></a></li>
    			<li><a href="/features/news/"><span class="icon program"></span><span class="link">News</span></a></li>
    			<li><a href="/features/photo-gallery/"><span class="icon article"></span><span class="link">Photo Gallery</span></a></li>
    			<li><a href="/features/video-gallery/"><span class="icon news"></span><span class="link">Video Gallery</span></a></li>
    			<li><a href="/features/event-calendar/"><span class="icon events"></span><span class="link">Event Calendar</span></a></li>
    			<li><a href="/features/directory-software/"><span class="icon vdos"></span><span class="link">Business Directory</span></a></li>
    			<li><a href="/features/classifieds/"><span class="icon polls"></span><span class="link">Classifieds</span></a></li>
    			<li><a href="/features/real-estate-website/"><span class="icon rl-estate"></span><span class="link">Real Estate</span></a></li>
    			<li><a href="/features/coupon-software/"><span class="icon deal_store"></span><span class="link">Deal Store</span></a></li>
    			<li><a href="/features/banner-management/"><span class="icon bnr_mgm"></span><span class="link">Banner Management</span></a></li>
    			<li><a href="/features/forum-software/"><span class="icon community"></span><span class="link">Community</span></a></li>
    			<li><a href="/features/bookmarks/"><span class="icon bookmarks"></span><span class="link">Bookmarks</span></a></li>
    			<li><a href="/features/online-polls-software/"><span class="icon poll"></span><span class="link">Polls</span></a></li>
    			<li><a href="/features/contest-sweepstakes-software/"><span class="icon contest"></span><span class="link">Contest</span></a></li>
    		</ul>
	    </div>
	</div>
	
	<div class="spec-sec">
	    <div class="portal-sec clearfix">
	    	<div class="container">
	    		<div class="row">
	    			<div class="portals text-center clearfix">
		    			<div class="featurette clearfix">
				    		<h2 class="featurette-heading">Regional &amp; National Portals Powered by BlackMonk</h2>
			    		</div>
			    		<div class="portal-details feature-tour clearfix">
			    			<div class="col-sm-4">
			    				<div class="logo clearfix">
			    					<div class="logo-img">
			    						<a href="/showcase/where-to-go/">
			    							<img src="/static/images/where_to_go.png" class="img-responsive" alt="Where to go 411">
			    						</a>
			    					</div>
			    				</div>
			    				<p class="small">National portal for African-American businesses</p>
			    			</div>
			    			<div class="col-sm-4">
			    				<div class="featurette">
				    				<div class="logo clearfix">
				    					<div class="logo-img">
				    						<a href="/showcase/peahive/">
				    							<img src="/static/images/peahive.png" class="img-responsive" alt="Peahive">
				    						</a>
				    					</div>
				    				</div>
				    				<p class="small">National portal &amp; online resource on parenting</p>
				    			</div>
			    			</div>

			    			<div class="col-sm-4">
			    				<div class="featurette">
				    				<div class="logo clearfix">
				    					<div class="logo-img">
				    						<a href="/showcase/baynet/">
				    							<img src="/static/images/radio/baynet.png" class="img-responsive" alt="baynet-C">
				    						</a>
				    					</div>
				    				</div>
				    				<p class="small">Community news website</p>
				    			</div>
			    			</div>
			    		</div>
			    		<div class="feature-tour clearfix">
			    			<a href="../customers" class="btn radio-btn btn-default btn-lg btn-product">Read Customer Reviews</a>
			    		</div>
	    			</div>
	    		</div>
    		<hr class="featurette-divider"/>
	    	</div>
	    </div>
    </div>
    <div class="container">
    	<div class="row">
			<div class="spec resources clearfix text-left">
	    		<div class="featurette spec-area">
	    				<h2 class="text-center featurette-heading">News &amp; Resources</h2>
	    		</div>
	    		<div class="col-sm-4">
	    			<div class="featurette">
		    			<div class="featurette-heading">
		    				<h3 class="h4"><a href="http://www.blackmonk.com/blog/2015/04/blackmonk-v37-with-built_in-promo-pages-for-marketing-and-more" target="_blank">BlackMonk v3.7 with built-in promo pages for marketing & more</a></h3>
		    			</div>
		    			<!-- <time>September 13, 2013</time> -->
		    			<p class="small">BlackMonk v3.7 gives publishers the essential toolkit to market their services to potential advertisers, plus new features in deals and contest app.</p>
		    			<a class="btn radio-btn btn-sm" href="http://www.blackmonk.com/blog/2015/04/blackmonk-v37-with-built_in-promo-pages-for-marketing-and-more" target="_blank">Read more</a>
	    			</div>
	    		</div>
	    		<div class="col-sm-4">
	    			<div class="featurette">
	    				<div class="featurette-heading">
	    					<h3 class="h4"><a href="http://www.blackmonk.com/blog/2013/08/blackmonk-congratulates-where2go-ceo-james-covington-for-co_hosting-the-usm-vendor-expo" target="_blank">Where2Go 411 co-hosts the USM Vendor Expo for Promoting Black businesses</a></h3>
	    				</div>
		    			<!-- <time>September 13, 2013</time> -->
		    			<p class="small">Where2Go hosted a Vendor Expo in association with University of Southern Mississippi aimed at creating business opportunities for Black businesses.</p>
						<a class="btn radio-btn btn-sm" href="http://www.blackmonk.com/blog/2013/08/blackmonk-congratulates-where2go-ceo-james-covington-for-co_hosting-the-usm-vendor-expo" target="_blank">Read more</a>
					</div>
	    		</div>
	    		<div class="col-sm-4">
	    			<div class="featurette">
	    				<div class="featurette-heading">
	    					<h3 class="h4"><a href="http://www.blackmonk.com/blog/2014/05/monetization-through-sponsored-content-implementation-road-map-for-publishers" target="_blank">Monetization through sponsored content – Implementation road map for publishers</a></h3>
	    				</div>
		    			<!-- <time>September 13, 2013</time> -->
		    			<p class="small">Sponsored content is the most profitable revenue source for publishers. Here’s how you can put your website on marketers’ radar and grow your revenues.</p>
		    			<a class="btn radio-btn btn-sm" href="http://www.blackmonk.com/blog/2014/05/monetization-through-sponsored-content-implementation-road-map-for-publishers" target="_blank">Read more</a>
		    		</div>
	    		</div>
	    	</div>
	    </div>
	</div>
	
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/js/modal.js"></script>
    <script src="/static/js/site.js"></script>
    <script src="/static/js/lightSlider_up.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.validate.min.js"></script>	
    <script type="text/javascript">
	    $(document).ready(function(){
	    	var play = false;
		    var slider = $('#webcast').lightSlider({
	    		loop: true,
	    		adaptiveHeight:false,
	        	pager: false,
	        	item:1,
	        	pause: 6000,
	        	speed: 1500,
	        	keyPress: true,
	        	onBeforeSlide: function(el){
		    		var idx = slider.getCurrentSlideCount();
	        		$('#b-modules li').removeClass('active');
	        		$('#b-modules li').eq(idx - 1).addClass('active');
	        	},
	        	onBeforeStart: function(){
	        		$('#webcast').removeClass('cS-hidden');
	        	},
	        	onSliderLoad: function() {
		            $('.controls').removeClass('cS-hidden');
		        } 
		    });

		    $('#prev').click(function(){
	        	slider.goToPrevSlide(); 
		    });

		    $('#next').click(function(){
		        slider.goToNextSlide(); 
		    });

	    	var timeout,
	    		mouseover = false;
			$('#webcast').on('mouseenter', function () {
				mouseover = true;
			    slider.pause();
			    clearTimeout(timeout);
			});
			$('#webcast').on('mouseleave', function () {
				mouseover = false;
			    timeout = setTimeout(function () {
			        slider.play();
			    }, 6000);

			});

		    	//return false;
		    $('#b-modules li').on('click',function(){
		    	var index = $('#b-modules li').index(this);
		    	slider.goToSlide(index + 1);
		    	slider.pause();
		    	var body = $("html, body");
				body.animate({
					scrollTop:$('#carousel').offset().top - $('#sub_height').height()
				}, '600', 'swing');
		    });


		    if ($(window).scrollTop() > 0) {
		    	setTimeout(function(){
		    		if (!mouseover) {
		    			slider.play();
		    		};
		    	},6000);
		    	play = true
		    };
		    $(window).on('scroll', function(){
		    	if (!play) {
		    		setTimeout(function(){
			    		slider.play();
			    	},6000)
		    		play = true;
		    	};
		    });

	    });
    </script>

    <script type="text/javascript">
	    $(document).ready(function(){
			var heroHeight = function(){
				var wH = window.innerHeight;	    	
				var bannerH = $('#banner-h');
				var tabHeight = $('#sub_height').height();
				var tabMinHeight = $('#sub_height').css('max-height', tabHeight + 'px');

				if(wH < 900){
					$('#banner-h .hero-inner').css('height', wH - tabHeight + 'px');
				}
			};

			heroHeight();

			$(window).resize(function() {
			  heroHeight();
			});
	    });
    </script>

    <!-- FOOTER -->  
	<div class="footer-actions">
    <div class="container">
    	<div class="row text-center">
    		 <div class="col-xs-4">
    		 	<div class="request-demo"><span class="icon"></span></div>
				<h3>Request a Demo</h3>
				<p class="lead" style="color: rgb(102, 102, 102) ! important;">Let our expert show you how BlackMonk can help you publish content, build community, and monetize traffic.</p>
				<p><a class="btn btn-success request_demo" href="/request-demo/" role="button" data-target="#request-demo">Request a Demo</a></p>				
    		 </div>
             
    		 <div class="col-xs-4">
    		 	<div class="request-quote"><span class="icon"></span></div>
				<h3>Request a Quote</h3>
				<p class="lead" style="color: rgb(102, 102, 102) ! important;">Tell us your requirements. Get a quote customized to your exact requirements.</p>
				<p><a class="btn btn-success" href="/request-quote/" role="button">Request a Quote</a></p>
    		 </div>
             
    		 <div class="col-xs-4">
    		 	<div class="call"><span class="icon"></span></div>
				<h3>Questions? Call Us</h3>
				<p class="lead" style="color: rgb(102, 102, 102) ! important;">We are here to help you. <br>Talk to our expert.</p>
				<p class="contact">
					<span class="phone">+1 855-682-3330</span><br>
					<span class="email"><a href="mailto:contact@blackmonk.com" target="_blank">contact@blackmonk.com</a></span>
				</p>
    		 </div>
    	</div>
    </div> 
</div> 
<div class="modal fade" id="request-demo" tabindex="-1" role="dialog" aria-labelledby="request-demoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title" id="request-demoLabel">Request a Demo (Enterprise Edition)</h3>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
        	<button class="btn btn-light ladda-button" id="demobotton" data-style="expand-left" onclick="save_demo();"><span class="ladda-label">Submit</span></button>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="download-spec" tabindex="-1" role="dialog" aria-labelledby="download-specLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title" id="download-specLabel">Download Specsheet</h3>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
        	<button class="btn btn-light ladda-button" id="downloadbotton" data-style="expand-left" onclick="downloadspec();"><span class="ladda-label">Submit</span></button>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div> 
     
    
<footer>
	<div class="container">
		<div class="row">
			<!-- div class="col-md-2 col-xs-3 col-tn-12 footer-logo">
				<a href="#">Blackmonk</a>
			</div-->
			<div class="col-md-2 col-xs-3 col-tn-6 col-md-offset-2">
				<h5>PRODUCT</h5>
				<ul class="footer-nav">
					<li><a href="/features/">Features</a></li>
					<li><a href="/showcase/">Showcase</a></li>
	
					<li><a class="request_demo" href="/request-demo/" data-target="#request-demo">Request a Demo</a></li>
					<li><a href="/request-quote/">Request a Quote</a></li>
				</ul>
			</div>
			
			<div class="col-md-2 col-xs-3 col-tn-6 mRt20tn">
				<h5>BLACKMONK FOR</h5>
				<ul class="footer-nav">
					<li><a href="/city-portal/">City Portal</a></li>
					<li><a href="/national-portal/">National Portal</a></li>
					<li><a href="/radio-station-cms/">Radio Station Website</a></li>
					<li class="fade">.</li>
					<li class="fade">.</li>
					<li class="fade">.</li>
				</ul>
			</div>
			<div class="col-md-2 col-xs-3 col-tn-6">
				<h5>COMPANY</h5>
				<ul class="footer-nav">
					<li><a href="/about/">Our story</a></li>
					<li><a href="/team/">Team</a></li>
					<li><a href="/partners/">Partners</a></li>
                    <li><a href="/customers/">Customers</a></li>
                    <li><a href="/press/">Press</a></li>
					<li><a href="/terms-service/">Terms of Service</a></li>
					<li><a href="/privacy.html">Privacy Policy</a></li>
				</ul>
			</div>
			
			<div class="col-md-2 col-xs-3 col-tn-6 mRt20tn">
				<h5>CONNECT</h5>
				<ul class="footer-nav">
					<li><a href="/support/">Help & Support </a></li>
					<li><a href="/help">Knowledge Base</a></li>
					<li><a href="/blog/">Blog</a></li>
					<li><a href="/contactus/">Get in Touch</a></li>
					<li><a class="sMpfS10" href="mailto:contact@blackmonk.com" target="_blank">contact@blackmonk.com</a></li>
					<li class="social">
                    	<a href="https://twitter.com/blackmonkcom" class="twitter" target="_blank">Twitter</a>
                        <a href="https://www.facebook.com/blackmonkcom" class="facebook" target="_blank">facebook</a>
                        <a href="https://plus.google.com/112992211470718300676/" class="google" target="_blank">google plus</a>
                    </li>
				</ul>
			</div>
		</div>
		<div class="final clearfix sMpfS9 lTr-sPc">
            <!--span class="crafted"><a href="/humans.txt">Hand-crafted</a> by the <a href="http://doublespring.com" target="_blank">Doublespring Media</a></span -->
            <span class="copyright sMp-mRl-8">&copy; 2012-2016 All rights reserved.Blackmonk <a class="blackmonk-footer-logo" style='margin: -8px 8px !important;' href="/">Blackmonk</a> is a product of <a href="http://doublespring.com" target="_blank" style='display: inline-block;margin: -4.3px 0.8px;' >Doublespring</a>.</span>
        </div>
		<!-- div class="clearfix copy">
			<p class="pull-right">&copy; 2013 Blackmonk.</p>
		</div-->
	</div>
</footer>
 
 
	<!-- /END FOOTER -->
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/site.js"></script>
    <script src="/static/js/spin.min.js"></script>
    <script src="/static/js/ladda.min.js"></script>
	<script src="/static/js/selectDrop.js"></script>
	<script type="text/javascript" src="/static/js/jquery/bm.common.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
        $("a[data-target=#request-demo]").click(function(ev) {
           ev.preventDefault();
           target = $(this).attr("href");
        
           // load the url and show modal on success
           $("#request-demo .modal-body").load(target, function() {
                $("#request-demo").modal("show");
           });
        });
        $("a[data-target=#download-spec]").click(function(ev) {
            
           ev.preventDefault();
         
  				
           
           target = $(this).attr("href");
         

           // load the url and show modal on success
           $("#download-spec .modal-body").load(target, function() {
                $("#download-spec").modal("show");
               
           });
        });
		$("#demoform").validate({
			highlight: function(element, errorClass){$(element).parent().parent().addClass('field-error');$(element).addClass('error');},
			unhighlight: function(element, errorClass){$(element).parent().parent().removeClass('field-error');$(element).removeClass('error');},
			errorPlacement: function(error, element){},
		   	rules:{
				first_name:"required",
				email: {required:true,email:true},
				phone:"required",
		   	}
			
		});
		$("#specform").validate({
			highlight: function(element, errorClass){$(element).parent().parent().addClass('field-error');$(element).addClass('error');},
			unhighlight: function(element, errorClass){$(element).parent().parent().removeClass('field-error');$(element).removeClass('error');},
			errorPlacement: function(error, element){},
		   	rules:{
				name:"required",
				email: {required:true,email:true},
		   	}
			
		});
	});
</script>
<script>
var timeOut;
$('.request_demo').on('click',function(){
	if (typeof timeOut !=="undefined") {
		clearTimeout(timeOut);
	};
})

function save_demo(){
	var l = Ladda.create( document.querySelector( '#demobotton' ) );
    flag = $("#demoform").validate({
            highlight: function(element, errorClass){$(element).parent().parent().addClass('field-error');$(element).addClass('error');},
            unhighlight: function(element, errorClass){$(element).parent().parent().removeClass('field-error');$(element).removeClass('error');},
            errorPlacement: function(error, element){
				error.css('color','#CC3300');
      			error.insertAfter(element);
			},
            rules:{
                first_name:"required",
                email: {required:true,email:true},
                phone:"required",
                plan:"required",
            },
			messages: {
                first_name: "Please specify your name.",
				phone: "Enter your phone number.",
                email: {
                    required: "Enter your email address.",
                    email: "Please enter a valid email address.",
                },
			},
			errorElement: "span",
    }).form()
	if(flag){
	l.start();
    var dataString='first_name='+$('#first_name_id').val();
	dataString+='&email='+$('#email_id').val();
	dataString+='&company='+$('#company_id').val();
	dataString+='&website='+$('#website_id').val();
	dataString+='&phone='+$('#phone_id').val();
	dataString+='&type='+$('#type_id').val();
	dataString+='&plan='+$('#plan_id').val();
	/* setTimeout(function() {
   	$("#demobody").empty();
   	l.stop();
	$('#demobotton').html('Submitted');
	$('#demomsg').replaceWith('<div class="alert alert-success">Thank you for your request. Our support team will respond to you shortly.</div>').delay(100000);
	$('#demobotton').removeClass('disabled').html('Submit');
    }, 1000);
    timeOut = setTimeout(function() {
      $('#request-demo').modal('hide');
	}, 8000);
	 */
	$.ajax({
		type: "POST",
		url: "/request-demo/",
		data: dataString,
		dataType:'JSON',
		success: function(data){
				l.stop();
				$('#request-demo').modal('show');
				
				if(data.status){
					$('#demobotton').html('Submitted');
					$("#demobody").empty();
					$('#demomsg').replaceWith('<div class="alert alert-success">Thank you for your request. Our support team will respond to you shortly.</div>').delay(100000);
					setTimeout(function(){
  						$('#request-demo').modal('hide');
						$('#demobotton').removeClass('disabled').html('Submit');
					}, 5000);
				}
				else{					
					$('#demomsg').replaceWith('<div id="demomsg"><div class="alert alert-warning">Email is already used. Please change email.</div></div>').delay(10000);
					setTimeout(function(){
  						$('#demomsg').empty();						
					}, 5000);
					setTimeout(function(){
						 $('#request-demo').modal('hide');
					},20000);
					//$('#request-demo .modal-dialog .model-body').empty().append(data.html);
					//alert("Your request cannot be processed, Please try again later");
				}
		}
	});
}
}
var timeOut2;
$('.btn-product').on('click',function(){
	if (typeof timeOut2 !=="undefined") {
		clearTimeout(timeOut2);
	};
})
function downloadspec(){
	var l = Ladda.create( document.querySelector( '#downloadbotton' ) );
    flag = $("#specform").validate({
            highlight: function(element, errorClass){$(element).parent().parent().addClass('field-error');$(element).addClass('error');},
            unhighlight: function(element, errorClass){$(element).parent().parent().removeClass('field-error');$(element).removeClass('error');},
            errorPlacement: function(error, element){
				error.css('color','#CC3300');
      			error.insertAfter(element);
			},
            rules:{
                name:"required",
                email: {required:true,email:true},
                
            },
			messages: {
                
				name: "Please specify your name.",
                email: {
                    required: "Enter your email address.",
                    email: "Please enter a valid email address.",
                },
			},
			errorElement: "span",
    }).form()
	if(flag){
	l.start();
    var dataString='email='+$('#email_id').val();
    dataString+='&name='+$('#name_id').val();
    dataString+='&type='+$('#type_id').val();
    setTimeout(function() {
   	$("#downbody").empty();
   	l.stop();
	$('#downloadbotton').html('Submitted');
	$('#specmsg').replaceWith('<div class="alert alert-success text-center"><strong>DOWNLOAD SENT SUCCESSFULLY</strong><br>Check your email for the specsheet</div>').delay(100000);
	$('#downloadbotton').removeClass('disabled').html('Submit');
    }, 1000);
    timeOut2 = setTimeout(function() {
      $('#download-spec').modal('hide');
	}, 8000);
	$.ajax({
		type: "POST",
		url: "/download-spec/",
		data: dataString,
		dataType:'JSON',
		success: function(data){
				//l.stop();
				// $('#download-spec').modal('show');
				//$('#downloadbotton').html('Submitted');
				if(data.status){
					//$("#downbody").empty();
					//$('#specmsg').replaceWith('<div class="alert alert-success text-center"><strong>DOWNLOAD SENT SUCCESSFULLY</strong><br>Check your email for the specsheet</div>').delay(100000);
					//setTimeout(function(){
  						//$('#download-spec').modal('hide');
						
					//}, 4000);
				}
				else{
					alert("Sorry!!Your request cannot be processed, Please try again later");
				}
		}
	});
}
}

</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-31833330-1', 'blackmonk.com');
  ga('send', 'pageview');

</script>
    
  </body>
</html>

