<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	<meta name="description" content="Get a quote for your web portal project" />

    <link rel="shortcut icon" href="/static/ico/favicon.png">

    <title>Request a Quote | BlackMonk </title>
    
    <link href="/static/css/base.css" rel="stylesheet">
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,800,400,600,700' rel='stylesheet' type='text/css'>
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
	<link rel="stylesheet" href="/static/css/f.v0.2.css" type="text/css" media="all"/>
	<link rel="stylesheet" href="/static/css/ladda-themeless.min.css" type="text/css" media="all"/>
	<script type="text/javascript" src="/static/js/jquery/jquery.validate.min.js"></script>
 
    <script type="text/javascript">
	$(document).ready(function(){
		$("#mform").validate({
			highlight: function(element, errorClass){$(element).parent().parent().addClass('field-error');$(element).addClass('error');},
			unhighlight: function(element, errorClass){$(element).parent().parent().removeClass('field-error');$(element).removeClass('error');},
			errorPlacement: function(error, element){
				error.css('color','#CC3300');
      			error.insertAfter(element);
			},
		   	rules:{
				first_name:"required",
				email: {required:true,email:true},
				company:"required"
		   	},
			messages: {
                first_name: "Please specify your name.",
                email: {
                    required: "Enter your email address.",
                    email: "Please enter a valid email address."
                },
				company:"Please specify your company",
			},
			errorElement: "span",
			
		});

		$("#mform1").validate({
			highlight: function(element, errorClass){$(element).parent().parent().addClass('field-error');$(element).addClass('error');},
			unhighlight: function(element, errorClass){$(element).parent().parent().removeClass('field-error');$(element).removeClass('error');},
			errorPlacement: function(error, element){
				error.css('color','#CC3300');
      			error.insertAfter(element);
			},
		   	rules:{
				start_time:"required",
		   	},
			messages: {
                start_time: "Please specify your start time.",
			},
			
		});
		
	});
	</script>


  </head>

<!-- NAVBAR
================================================== -->
  <body >
    <div class="navbar-wrapper">
      <div class="container">
         <div class="navbar navbar-static-top">
	<div class="container" style="margin-bottom: 20px;">			
			<a style="text-decoration: none;color: white;font-size: 13px;text-transform: none;top: -19px;right: 469px;position: absolute;" href="/partners/">White Label Reseller Program <span style="background-color:#5bc0de;text-transform: capitalize;border-radius: 0.25em;letter-spacing: 1px;padding: 2px 4px;">new</span><a>			 
	</div>
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><div class="logo">Blackmonk</div></a>						
		  </div>
		<div class="navbar-collapse collapse pull-right">
			
			<div class="user-opt hide">
				<div class="btn-group">
				  <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    SaaS Admin <span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu float">
				    <li><a href="/account/signout/">Sign Out</a></li>
				  </ul>
				</div>
			</div>
			
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
				<li><a href="/features/">Features</a></li>
				<li><a href="/showcase/">Showcase</a></li>
				<li><a href="/customers/">Customers</a></li>
				<!--li><a href="/services/">Services</a></li-->
				<li><a class="btn btn-primary" href="/pricing/" >Pricing</a></li>
			</ul>
		</div>
	</div>
</div>


      </div>
    </div>
	 
	
<div class="container">
    	
    	<div class="row contact-bm" id="bmhide">
        	<div class="featurette text-center clearfix">
              <h2 class="featurette-heading">
              	<span class="text-caps">Request a quote</span>
              </h2>
              <p class="lead">BlackMonk can be used to create custom web+mobile portals. We understand that every business is different and can build a bespoke solution tailored for you requirements.</p>
        </div>
        	<div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1 featurette">
			<hr class="featurette-divider">
			<p class="lead">Please share with us your requirements. We'll review and send you a no-obligation quote:</p>
            <div id="frmm1">
            	<form role="form" id="mform">
				<div class="form-group">
                    <label for="name">Name <span class="required">*</span></label>
                    <input autocomplete="off" class="form-control" id="id_first_name" maxlength="300" name="first_name" type="text" autofocus>
                </div>
                <div class="form-group">
                    <label for="email">Email <span class="required">*</span></label>
                    <input autocomplete="off" class="form-control" id="id_email" maxlength="200" name="email" type="text">
                </div>
                <div class="form-group">
                    <label for="company">Company <span class="required">*</span></label>
                    <input autocomplete="off" class="form-control" id="id_company" maxlength="600" name="company" type="text">
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                     <input class="form-control" id="id_phone" maxlength="25" name="phone" type="text">
                </div>
				<input type="hidden" name="type" id="id_type" value="RQ" />
				<input type="hidden" name="request_type" id="id_request" value="EP" />
                <a class="btn btn-light" href="javascript:void(0)" id="frm1" onClick="save_quote();">Continue</a>
				</form>
               </div>     
                    <div id="bmfrm2" style="display:none;">
                       <form role="form" id="mform1" method="POST" action="/request-quote/" enctype="multipart/form-data" onsubmit="return validate();"><input type='hidden' name='csrfmiddlewaretoken' value='TFxSgYRjf2jcu1a0J31jtX9pWlnUT9VY' />
						<input type="hidden" id="contact_id" name="contact_id"/>
                    	<legend>Project Information</legend>
                        <div class="form-group">
                            <label>Project Category</label>
                            <select autofocus="true" class="form-control" id="id_category" name="category">
<option value="" selected="selected">(Select One)</option>
<option value="CR">City &amp; Regional Portal</option>
<option value="NP">National Portal</option>
<option value="NS">News Portal</option>
<option value="LP">Lifestyle Portal</option>
<option value="RE">Real Estate Portal</option>
<option value="JP">Jobs Portal</option>
<option value="AP">Auto Portal</option>
<option value="CP">Classifieds Portal</option>
<option value="EP">Events Portal</option>
<option value="YP">Yellow Pages / Business Directory</option>
<option value="WP">Wedding/Matrimonial Portal</option>
<option value="BP">B2B Portal</option>
<option value="OT">Other</option>
</select>
                        </div>
                         <div class="form-group">
                            <label for="msgs">Project Summary</label>
                            <textarea autocomplete="off" class="form-control" cols="40" id="id_message" name="message" rows="7">
</textarea>
                        </div>  
						<div class="form-group">
                            <label for="msgs">Upload File</label>
                            <input id="id_docfile" name="docfile" type="file" />
                        </div>  
                        <div class="form-group">
                            <label for="Requirements">Additional Requirements</label>
                            <label class="checkbox">
                           	  <input id="id_responsive" name="responsive" type="checkbox" /> Responsive Design
                            </label>
                            <label class="checkbox">
                              <input id="id_iphone" name="iphone" type="checkbox" />
                              <span class="tXt-dCr-nN">iPhone App</span>
                            </label>
                            <label class="checkbox">
                            <input id="id_android" name="android" type="checkbox" />
                               <span class="tXt-dCr-nN">Android App</span>
                            </label>
                            </div>
                        <div class="form-group">
                            <label>When would you like to start? <span class="required">*</span></label>
                            <select class="form-control" id="id_start_time" name="start_time">
<option value="RA">Right Away</option>
<option value="OM">Within 1 Month</option>
<option value="SM">Within 6 Month</option>
<option value="DK">Dont Know Yet</option>
</select>
                        </div>
                        <div class="form-group">
                            <label>Budget</label>
                            <select class="form-control" id="id_budget" name="budget">
<option value="" selected="selected">Select Your Budget</option>
<option value="FS">Less than $10,000</option>
<option value="ST">$10,000 - $25,000</option>
<option value="TF">$25,000 - $50,000</option>
<option value="GF">More than $50,000</option>
<option value="NS">Not Sure</option>
</select>
                        </div>
                        <input type="submit" class="btn btn-light" id="frm2" value="Submit" />
                </div>
            </form>
                
            </div>
        </div>
		
    </div>
<script>

function save_quote(){
	if($('#mform').valid()){
	var dataString='first_name='+$('#id_first_name').val();
	dataString+='&email='+$('#id_email').val();
	dataString+='&company='+$('#id_company').val();
	dataString+='&phone='+$('#id_phone').val();
	dataString+='&type='+$('#id_type').val();
	dataString+='&plan_type='+$('#id_request').val();
	$.ajax({
		type: "POST",
		url: "/request-quote/",
		data: dataString,
		dataType:'JSON',
		success: function(datas){
				if(datas.contact_id){
					$('#frmm1').hide();
					$('#bmfrm2').show();
					$('html, body').animate({ scrollTop: $('#bmfrm2').offset().top-100 },500);    
					$('#contact_id').val(datas.contact_id);
				}
				else{
					alert("Your request cannot be processed, Please try again later");
				}
		}
	});
	}
}
$(document).ready(function(){
	$("#mform").find('input').keypress(function(event) {
	   if (event.which == 13) {
	       event.preventDefault();
	       save_quote();
	   }
	});
})
</script>

    <!-- FOOTER -->  
	<div class="footer-actions">
    <div class="container">
    	<div class="row text-center">
    		 <div class="col-xs-4">
    		 	<div class="request-demo"><span class="icon"></span></div>
				<h3>Request a Demo</h3>
				<p class="lead" style="color: rgb(102, 102, 102) ! important;">Let our expert show you how BlackMonk can help you publish content, build community, and monetize traffic.</p>
				<p><a class="btn btn-success request_demo" href="/request-demo/" role="button" data-target="#request-demo">Request a Demo</a></p>				
    		 </div>
             
    		 <div class="col-xs-4">
    		 	<div class="request-quote"><span class="icon"></span></div>
				<h3>Request a Quote</h3>
				<p class="lead" style="color: rgb(102, 102, 102) ! important;">Tell us your requirements. Get a quote customized to your exact requirements.</p>
				<p><a class="btn btn-success" href="/request-quote/" role="button">Request a Quote</a></p>
    		 </div>
             
    		 <div class="col-xs-4">
    		 	<div class="call"><span class="icon"></span></div>
				<h3>Questions? Call Us</h3>
				<p class="lead" style="color: rgb(102, 102, 102) ! important;">We are here to help you. <br>Talk to our expert.</p>
				<p class="contact">
					<span class="phone">+1 855-682-3330</span><br>
					<span class="email"><a href="mailto:contact@blackmonk.com" target="_blank">contact@blackmonk.com</a></span>
				</p>
    		 </div>
    	</div>
    </div> 
</div> 
<div class="modal fade" id="request-demo" tabindex="-1" role="dialog" aria-labelledby="request-demoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title" id="request-demoLabel">Request a Demo (Enterprise Edition)</h3>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
        	<button class="btn btn-light ladda-button" id="demobotton" data-style="expand-left" onclick="save_demo();"><span class="ladda-label">Submit</span></button>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="download-spec" tabindex="-1" role="dialog" aria-labelledby="download-specLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title" id="download-specLabel">Download Specsheet</h3>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
        	<button class="btn btn-light ladda-button" id="downloadbotton" data-style="expand-left" onclick="downloadspec();"><span class="ladda-label">Submit</span></button>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div> 
     
    
<footer>
	<div class="container">
		<div class="row">
			<!-- div class="col-md-2 col-xs-3 col-tn-12 footer-logo">
				<a href="#">Blackmonk</a>
			</div-->
			<div class="col-md-2 col-xs-3 col-tn-6 col-md-offset-2">
				<h5>PRODUCT</h5>
				<ul class="footer-nav">
					<li><a href="/features/">Features</a></li>
					<li><a href="/showcase/">Showcase</a></li>
	
					<li><a class="request_demo" href="/request-demo/" data-target="#request-demo">Request a Demo</a></li>
					<li><a href="/request-quote/">Request a Quote</a></li>
				</ul>
			</div>
			
			<div class="col-md-2 col-xs-3 col-tn-6 mRt20tn">
				<h5>BLACKMONK FOR</h5>
				<ul class="footer-nav">
					<li><a href="/city-portal/">City Portal</a></li>
					<li><a href="/national-portal/">National Portal</a></li>
					<li><a href="/radio-station-cms/">Radio Station Website</a></li>
					<li class="fade">.</li>
					<li class="fade">.</li>
					<li class="fade">.</li>
				</ul>
			</div>
			<div class="col-md-2 col-xs-3 col-tn-6">
				<h5>COMPANY</h5>
				<ul class="footer-nav">
					<li><a href="/about/">Our story</a></li>
					<li><a href="/team/">Team</a></li>
					<li><a href="/partners/">Partners</a></li>
                    <li><a href="/customers/">Customers</a></li>
                    <li><a href="/press/">Press</a></li>
					<li><a href="/terms-service/">Terms of Service</a></li>
					<li><a href="/privacy.html">Privacy Policy</a></li>
				</ul>
			</div>
			
			<div class="col-md-2 col-xs-3 col-tn-6 mRt20tn">
				<h5>CONNECT</h5>
				<ul class="footer-nav">
					<li><a href="/support/">Help & Support </a></li>
					<li><a href="/help">Knowledge Base</a></li>
					<li><a href="/blog/">Blog</a></li>
					<li><a href="/contactus/">Get in Touch</a></li>
					<li><a class="sMpfS10" href="mailto:contact@blackmonk.com" target="_blank">contact@blackmonk.com</a></li>
					<li class="social">
                    	<a href="https://twitter.com/blackmonkcom" class="twitter" target="_blank">Twitter</a>
                        <a href="https://www.facebook.com/blackmonkcom" class="facebook" target="_blank">facebook</a>
                        <a href="https://plus.google.com/112992211470718300676/" class="google" target="_blank">google plus</a>
                    </li>
				</ul>
			</div>
		</div>
		<div class="final clearfix sMpfS9 lTr-sPc">
            <!--span class="crafted"><a href="/humans.txt">Hand-crafted</a> by the <a href="http://doublespring.com" target="_blank">Doublespring Media</a></span -->
            <span class="copyright sMp-mRl-8">&copy; 2012-2016 All rights reserved.Blackmonk <a class="blackmonk-footer-logo" style='margin: -8px 8px !important;' href="/">Blackmonk</a> is a product of <a href="http://doublespring.com" target="_blank" style='display: inline-block;margin: -4.3px 0.8px;' >Doublespring</a>.</span>
        </div>
		<!-- div class="clearfix copy">
			<p class="pull-right">&copy; 2013 Blackmonk.</p>
		</div-->
	</div>
</footer>
 
 
	<!-- /END FOOTER -->
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/site.js"></script>
    <script src="/static/js/spin.min.js"></script>
    <script src="/static/js/ladda.min.js"></script>
	<script src="/static/js/selectDrop.js"></script>
	<script type="text/javascript" src="/static/js/jquery/bm.common.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
        $("a[data-target=#request-demo]").click(function(ev) {
           ev.preventDefault();
           target = $(this).attr("href");
        
           // load the url and show modal on success
           $("#request-demo .modal-body").load(target, function() {
                $("#request-demo").modal("show");
           });
        });
        $("a[data-target=#download-spec]").click(function(ev) {
            
           ev.preventDefault();
         
  				
           
           target = $(this).attr("href");
         

           // load the url and show modal on success
           $("#download-spec .modal-body").load(target, function() {
                $("#download-spec").modal("show");
               
           });
        });
		$("#demoform").validate({
			highlight: function(element, errorClass){$(element).parent().parent().addClass('field-error');$(element).addClass('error');},
			unhighlight: function(element, errorClass){$(element).parent().parent().removeClass('field-error');$(element).removeClass('error');},
			errorPlacement: function(error, element){},
		   	rules:{
				first_name:"required",
				email: {required:true,email:true},
				phone:"required",
		   	}
			
		});
		$("#specform").validate({
			highlight: function(element, errorClass){$(element).parent().parent().addClass('field-error');$(element).addClass('error');},
			unhighlight: function(element, errorClass){$(element).parent().parent().removeClass('field-error');$(element).removeClass('error');},
			errorPlacement: function(error, element){},
		   	rules:{
				name:"required",
				email: {required:true,email:true},
		   	}
			
		});
	});
</script>
<script>
var timeOut;
$('.request_demo').on('click',function(){
	if (typeof timeOut !=="undefined") {
		clearTimeout(timeOut);
	};
})

function save_demo(){
	var l = Ladda.create( document.querySelector( '#demobotton' ) );
    flag = $("#demoform").validate({
            highlight: function(element, errorClass){$(element).parent().parent().addClass('field-error');$(element).addClass('error');},
            unhighlight: function(element, errorClass){$(element).parent().parent().removeClass('field-error');$(element).removeClass('error');},
            errorPlacement: function(error, element){
				error.css('color','#CC3300');
      			error.insertAfter(element);
			},
            rules:{
                first_name:"required",
                email: {required:true,email:true},
                phone:"required",
                plan:"required",
            },
			messages: {
                first_name: "Please specify your name.",
				phone: "Enter your phone number.",
                email: {
                    required: "Enter your email address.",
                    email: "Please enter a valid email address.",
                },
			},
			errorElement: "span",
    }).form()
	if(flag){
	l.start();
    var dataString='first_name='+$('#first_name_id').val();
	dataString+='&email='+$('#email_id').val();
	dataString+='&company='+$('#company_id').val();
	dataString+='&website='+$('#website_id').val();
	dataString+='&phone='+$('#phone_id').val();
	dataString+='&type='+$('#type_id').val();
	dataString+='&plan='+$('#plan_id').val();
	/* setTimeout(function() {
   	$("#demobody").empty();
   	l.stop();
	$('#demobotton').html('Submitted');
	$('#demomsg').replaceWith('<div class="alert alert-success">Thank you for your request. Our support team will respond to you shortly.</div>').delay(100000);
	$('#demobotton').removeClass('disabled').html('Submit');
    }, 1000);
    timeOut = setTimeout(function() {
      $('#request-demo').modal('hide');
	}, 8000);
	 */
	$.ajax({
		type: "POST",
		url: "/request-demo/",
		data: dataString,
		dataType:'JSON',
		success: function(data){
				l.stop();
				$('#request-demo').modal('show');
				
				if(data.status){
					$('#demobotton').html('Submitted');
					$("#demobody").empty();
					$('#demomsg').replaceWith('<div class="alert alert-success">Thank you for your request. Our support team will respond to you shortly.</div>').delay(100000);
					setTimeout(function(){
  						$('#request-demo').modal('hide');
						$('#demobotton').removeClass('disabled').html('Submit');
					}, 5000);
				}
				else{					
					$('#demomsg').replaceWith('<div id="demomsg"><div class="alert alert-warning">Email is already used. Please change email.</div></div>').delay(10000);
					setTimeout(function(){
  						$('#demomsg').empty();						
					}, 5000);
					setTimeout(function(){
						 $('#request-demo').modal('hide');
					},20000);
					//$('#request-demo .modal-dialog .model-body').empty().append(data.html);
					//alert("Your request cannot be processed, Please try again later");
				}
		}
	});
}
}
var timeOut2;
$('.btn-product').on('click',function(){
	if (typeof timeOut2 !=="undefined") {
		clearTimeout(timeOut2);
	};
})
function downloadspec(){
	var l = Ladda.create( document.querySelector( '#downloadbotton' ) );
    flag = $("#specform").validate({
            highlight: function(element, errorClass){$(element).parent().parent().addClass('field-error');$(element).addClass('error');},
            unhighlight: function(element, errorClass){$(element).parent().parent().removeClass('field-error');$(element).removeClass('error');},
            errorPlacement: function(error, element){
				error.css('color','#CC3300');
      			error.insertAfter(element);
			},
            rules:{
                name:"required",
                email: {required:true,email:true},
                
            },
			messages: {
                
				name: "Please specify your name.",
                email: {
                    required: "Enter your email address.",
                    email: "Please enter a valid email address.",
                },
			},
			errorElement: "span",
    }).form()
	if(flag){
	l.start();
    var dataString='email='+$('#email_id').val();
    dataString+='&name='+$('#name_id').val();
    dataString+='&type='+$('#type_id').val();
    setTimeout(function() {
   	$("#downbody").empty();
   	l.stop();
	$('#downloadbotton').html('Submitted');
	$('#specmsg').replaceWith('<div class="alert alert-success text-center"><strong>DOWNLOAD SENT SUCCESSFULLY</strong><br>Check your email for the specsheet</div>').delay(100000);
	$('#downloadbotton').removeClass('disabled').html('Submit');
    }, 1000);
    timeOut2 = setTimeout(function() {
      $('#download-spec').modal('hide');
	}, 8000);
	$.ajax({
		type: "POST",
		url: "/download-spec/",
		data: dataString,
		dataType:'JSON',
		success: function(data){
				//l.stop();
				// $('#download-spec').modal('show');
				//$('#downloadbotton').html('Submitted');
				if(data.status){
					//$("#downbody").empty();
					//$('#specmsg').replaceWith('<div class="alert alert-success text-center"><strong>DOWNLOAD SENT SUCCESSFULLY</strong><br>Check your email for the specsheet</div>').delay(100000);
					//setTimeout(function(){
  						//$('#download-spec').modal('hide');
						
					//}, 4000);
				}
				else{
					alert("Sorry!!Your request cannot be processed, Please try again later");
				}
		}
	});
}
}

</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-31833330-1', 'blackmonk.com');
  ga('send', 'pageview');

</script>
    
  </body>
</html>

