<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	<meta name="description" content="Saas Plans | BlackMonk Showcase" />

    <link rel="shortcut icon" href="/static/ico/favicon.png">

    <title>Choose your Edition | BlackMonk Showcase </title>
    
    <link href="/static/css/base.css" rel="stylesheet">
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,800,400,600,700' rel='stylesheet' type='text/css'>
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
	<link rel="stylesheet" href="/static/css/f.v0.2.css" type="text/css" media="all"/>
	<link rel="stylesheet" href="/static/css/ladda-themeless.min.css" type="text/css" media="all"/>
	<script type="text/javascript" src="/static/js/jquery/jquery.validate.min.js"></script>
 
  </head>

<!-- NAVBAR
================================================== -->
  <body  class="hero-start pricing-page nav-trsp" >
    <div class="navbar-wrapper">
      <div class="container">
         <div class="navbar navbar-static-top">
	<div class="container" style="margin-bottom: 20px;">			
			<a style="text-decoration: none;color: white;font-size: 13px;text-transform: none;top: -19px;right: 469px;position: absolute;" href="/partners/">White Label Reseller Program <span style="background-color:#5bc0de;text-transform: capitalize;border-radius: 0.25em;letter-spacing: 1px;padding: 2px 4px;">new</span><a>			 
	</div>
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><div class="logo">Blackmonk</div></a>						
		  </div>
		<div class="navbar-collapse collapse pull-right">
			
			<div class="user-opt hide">
				<div class="btn-group">
				  <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    SaaS Admin <span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu float">
				    <li><a href="/account/signout/">Sign Out</a></li>
				  </ul>
				</div>
			</div>
			
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
				<li><a href="/features/">Features</a></li>
				<li><a href="/showcase/">Showcase</a></li>
				<li><a href="/customers/">Customers</a></li>
				<!--li><a href="/services/">Services</a></li-->
				<li><a class="btn btn-primary" href="/pricing/" >Pricing</a></li>
			</ul>
		</div>
	</div>
</div>


      </div>
    </div>
	 
	
	<div class="hero home-hero">
    	<div class="hero-inner">
		    <div class="container">
			    <div class="hero-static">
				    <h1>Small Business Edition - Pricing</h1>
				    <p class="lead">BlackMonk CMS small business edition offers a great feature set for startups and growing media sites. Sign up on a monthly or yearly basis. We include hosting in the cloud, technical support &amp; upgrades.</p>
            <ul class="list-inline">
                <li>
                  <a class="request_demo" href="/saas-request-demo/"  data-target="#request-demo" >Demo</a>
                </li>
                <li>
                  <a href="#faq-sec">FAQ</a>
                </li>
                <li>
                  <a href="/contactus/">Contact</a>
                </li>
            </ul>
			    </div>
		    </div>
		     
    	</div>
    	
    </div>
    
	<div class="container marketing cTr-sM home-ftrd price-features"> 
      <div class="pricing-table">
        <div class="row col-pd">
		
          <div class="col-md-4">
            <div class="pricing-box-outer">
              <span class="line"></span>
              <a class="pricing-box pDt5mP" href="/saas/order_summary/?id=1">
				
                <div class="category">Premium</div>
                <div class="price-range"><span class="price">$120</span>/MO</div>
                <div class="buy"><span class="btn btn-light">Sign Up</span></div>
                <p class="help-block" style="height: 30px ! important;"></p>
              </a>
              <hr class="featurette-divider hr-sm"/>
              <ul class="list-unstyled tw-col-list">
				 
				 	<li class="module"><a target="_blank" href="/features/multicity/">----</a></li>
				 	
				 <li class="module"><a target="_blank" href="/features/articles-news-management/">Articles</a></li>
				 <li class="module"><a target="_blank" href="/features/directory-software/">Directory</a></li>
				 <li class="module"><a target="_blank" href="/features/photo-gallery/">Photo Gallery</a></li>
				 <li class="module"><a target="_blank" href="/features/video-gallery/">Video Gallery</a></li>
				 <li class="module"><a target="_blank" href="/features/event-calendar/">Events & Venues Directory</a></li>
				 <li class="module"><a target="_blank" href="/features/online-polls-software/">Poll</a></li>
				 <li class="module"><a target="_blank" href="/features/classifieds/">Classified Ads</a></li>
				 <li class="module"><a target="_blank" href="/features/attractions/">Attractions</a></li>
				 <li class="module"><a target="_blank" href="/features/coupon-software/">Deals</a></li>
				 <li class="module"><a target="_blank" href="/features/bookmarks/">Bookmarks</a></li>
				 <li class="module"><a target="_blank" href="/features/forum-software/">Community / Forum</a></li>
				 
				 				 
				 
				 
				 <li class="module"><a target="_blank" href="/features/banner-management/">Banner Ad Management</a></li>
				 <li class="module"><a target="_blank" href="/features/user-management/">User Management</a></li>

				 <li class="module"><a target="_blank" href="/features/custom-pages/">Custom Pages (WYSIWYG)</a></li>
				 <li class="module"><a target="_blank" href="/features/social-share/">FaceBook Integration</a></li>
				 <li class="module"><a target="_blank" href="/features/social-share/">Twitter Integration</a></li>
				 <li class="module"><a target="_blank" href="/features/social-share/">Google+ Integration</a></li>
				 <li class="module"><a target="_blank" href="/features/google-services/">Google Maps Integration</a></li>
				 
				 
				 <li class="module"><a target="_blank" href="/features/advertise-page/">Advertise Page</a></li>

				 <li class="module"><a target="_blank" href="/features/payment-gateway/">Payment Processing</a></li>
				 <li class="module"><a target="_blank" href="/features/email-templates/">Transactional Email Templates</a></li>
				 <li class="module"><a target="_blank" href="/features/seo/">Search Engine Optimization</a></li>
				 <li class="module"><a target="_blank" href="/features/data-migration/">Data Import/Export</a></li>
				 <li class="module"><a target="_blank" href="/features/data-migration/">Data Migration Tools</a></li>
				 <li class="module"><a target="_blank" href="/features/reports/">Reports</a></li>
				 <li><a target="_blank" style="font-size: 12px;padding: 12px 18px;letter-spacing: 1px;margin-top: 20px;" class="btn btn-info request_demo" href="http://ruby.blackmonk.com">Live Site</a></a></li>	
				 </br>
				 <li><a href="/saas-request-demo/?id=1"  data-target="#request-demo">Request a Demo</a></a></li>
              </ul>
              <hr class="featurette-divider visible-xs"/>
            </div>
          </div>
		
          <div class="col-md-4">
            <div class="pricing-box-outer">
              <span class="line"></span>
              <a class="pricing-box pDt5mP" href="/saas/order_summary/?id=2">
				<div class="premium">Most Popular</div>
                <div class="category">Professional</div>
                <div class="price-range"><span class="price">$180</span>/MO</div>
                <div class="buy"><span class="btn btn-light">Sign Up</span></div>
                <p class="help-block" style="height: 30px ! important;"></p>
              </a>
              <hr class="featurette-divider hr-sm"/>
              <ul class="list-unstyled tw-col-list">
				 
				 	<li class="module"><a target="_blank" href="/features/multicity/">----</a></li>
				 	
				 <li class="module"><a target="_blank" href="/features/articles-news-management/">Articles</a></li>
				 <li class="module"><a target="_blank" href="/features/directory-software/">Directory</a></li>
				 <li class="module"><a target="_blank" href="/features/photo-gallery/">Photo Gallery</a></li>
				 <li class="module"><a target="_blank" href="/features/video-gallery/">Video Gallery</a></li>
				 <li class="module"><a target="_blank" href="/features/event-calendar/">Events & Venues Directory</a></li>
				 <li class="module"><a target="_blank" href="/features/online-polls-software/">Poll</a></li>
				 <li class="module"><a target="_blank" href="/features/classifieds/">Classified Ads</a></li>
				 <li class="module"><a target="_blank" href="/features/attractions/">Attractions</a></li>
				 <li class="module"><a target="_blank" href="/features/coupon-software/">Deals</a></li>
				 <li class="module"><a target="_blank" href="/features/bookmarks/">Bookmarks</a></li>
				 <li class="module"><a target="_blank" href="/features/forum-software/">Community / Forum</a></li>
				 <li class="module"><a target="_blank" href="/features/movie-showtimes-software/">Movies / Showtimes</a></li>
				 <li class="module"><a target="_blank" href="/features/contest-sweepstakes-software/">Contests / Sweepstakes</a></li>				 
				 <li class="module"><a target="_blank" href="/features/channels/">Channels</a></li>
				 <li class="module"><a target="_blank" href="/features/real-estate-website/">Real Estate</a></li>
				 <li class="module"><a target="_blank" href="/features/banner-management/">Banner Ad Management</a></li>
				 <li class="module"><a target="_blank" href="/features/user-management/">User Management</a></li>

				 <li class="module"><a target="_blank" href="/features/custom-pages/">Custom Pages (WYSIWYG)</a></li>
				 <li class="module"><a target="_blank" href="/features/social-share/">FaceBook Integration</a></li>
				 <li class="module"><a target="_blank" href="/features/social-share/">Twitter Integration</a></li>
				 <li class="module"><a target="_blank" href="/features/social-share/">Google+ Integration</a></li>
				 <li class="module"><a target="_blank" href="/features/google-services/">Google Maps Integration</a></li>
				 <li class="module"><a target="_blank" href="#">Google News Integration</a></li>
				 <li class="module"><a target="_blank" href="/features/affiliate/">Affiliate Programs Integration</a></li>
				 <li class="module"><a target="_blank" href="/features/advertise-page/">Advertise Page</a></li>

				 <li class="module"><a target="_blank" href="/features/payment-gateway/">Payment Processing</a></li>
				 <li class="module"><a target="_blank" href="/features/email-templates/">Transactional Email Templates</a></li>
				 <li class="module"><a target="_blank" href="/features/seo/">Search Engine Optimization</a></li>
				 <li class="module"><a target="_blank" href="/features/data-migration/">Data Import/Export</a></li>
				 <li class="module"><a target="_blank" href="/features/data-migration/">Data Migration Tools</a></li>
				 <li class="module"><a target="_blank" href="/features/reports/">Reports</a></li>
				 <li><a target="_blank" style="font-size: 12px;padding: 12px 18px;letter-spacing: 1px;margin-top: 20px;" class="btn btn-info request_demo" href="http://jade.blackmonk.com">Live Site</a></a></li>	
				 </br>
				 <li><a href="/saas-request-demo/?id=2"  data-target="#request-demo">Request a Demo</a></a></li>
              </ul>
              <hr class="featurette-divider visible-xs"/>
            </div>
          </div>
		
          <div class="col-md-4">
            <div class="pricing-box-outer">
              <span class="line"></span>
              <a class="pricing-box pDt5mP" href="/saas/order_summary/?id=3">
				
                <div class="category">Ultimate</div>
                <div class="price-range"><span class="price">$300</span>/MO</div>
                <div class="buy"><span class="btn btn-light">Sign Up</span></div>
                <p class="help-block" style="height: 30px ! important;"></p>
              </a>
              <hr class="featurette-divider hr-sm"/>
              <ul class="list-unstyled tw-col-list">
				 
				 	<li class="module"><a target="_blank" href="/features/multicity/">Multi-City</a><span class="label label-info" style="padding:5px 8px 5px;text-transform:uppercase;margin-left:-14px; margin-top:-6px;position: absolute;font-size: 10px;letter-spacing: 1px;font-family: 'Gotham Book',sans-serif;">New</span></li>
				 	
				 <li class="module"><a target="_blank" href="/features/articles-news-management/">Articles</a></li>
				 <li class="module"><a target="_blank" href="/features/directory-software/">Directory</a></li>
				 <li class="module"><a target="_blank" href="/features/photo-gallery/">Photo Gallery</a></li>
				 <li class="module"><a target="_blank" href="/features/video-gallery/">Video Gallery</a></li>
				 <li class="module"><a target="_blank" href="/features/event-calendar/">Events & Venues Directory</a></li>
				 <li class="module"><a target="_blank" href="/features/online-polls-software/">Poll</a></li>
				 <li class="module"><a target="_blank" href="/features/classifieds/">Classified Ads</a></li>
				 <li class="module"><a target="_blank" href="/features/attractions/">Attractions</a></li>
				 <li class="module"><a target="_blank" href="/features/coupon-software/">Deals</a></li>
				 <li class="module"><a target="_blank" href="/features/bookmarks/">Bookmarks</a></li>
				 <li class="module"><a target="_blank" href="/features/forum-software/">Community / Forum</a></li>
				 <li class="module"><a target="_blank" href="/features/movie-showtimes-software/">Movies / Showtimes</a></li>
				 <li class="module"><a target="_blank" href="/features/contest-sweepstakes-software/">Contests / Sweepstakes</a></li>				 
				 <li class="module"><a target="_blank" href="/features/channels/">Channels</a></li>
				 <li class="module"><a target="_blank" href="/features/real-estate-website/">Real Estate</a></li>
				 <li class="module"><a target="_blank" href="/features/banner-management/">Banner Ad Management</a></li>
				 <li class="module"><a target="_blank" href="/features/user-management/">User Management</a></li>

				 <li class="module"><a target="_blank" href="/features/custom-pages/">Custom Pages (WYSIWYG)</a></li>
				 <li class="module"><a target="_blank" href="/features/social-share/">FaceBook Integration</a></li>
				 <li class="module"><a target="_blank" href="/features/social-share/">Twitter Integration</a></li>
				 <li class="module"><a target="_blank" href="/features/social-share/">Google+ Integration</a></li>
				 <li class="module"><a target="_blank" href="/features/google-services/">Google Maps Integration</a></li>
				 <li class="module"><a target="_blank" href="#">Google News Integration</a></li>
				 <li class="module"><a target="_blank" href="/features/affiliate/">Affiliate Programs Integration</a></li>
				 <li class="module"><a target="_blank" href="/features/advertise-page/">Advertise Page</a></li>

				 <li class="module"><a target="_blank" href="/features/payment-gateway/">Payment Processing</a></li>
				 <li class="module"><a target="_blank" href="/features/email-templates/">Transactional Email Templates</a></li>
				 <li class="module"><a target="_blank" href="/features/seo/">Search Engine Optimization</a></li>
				 <li class="module"><a target="_blank" href="/features/data-migration/">Data Import/Export</a></li>
				 <li class="module"><a target="_blank" href="/features/data-migration/">Data Migration Tools</a></li>
				 <li class="module"><a target="_blank" href="/features/reports/">Reports</a></li>
				 <li><a target="_blank" style="font-size: 12px;padding: 12px 18px;letter-spacing: 1px;margin-top: 20px;" class="btn btn-info request_demo" href="http://codeclick.com">Live Site</a></a></li>	
				 </br>
				 <li><a href="/saas-request-demo/?id=3"  data-target="#request-demo">Request a Demo</a></a></li>
              </ul>
              <hr class="featurette-divider visible-xs"/>
            </div>
          </div>
		
        </div>
      </div>
    </div><!-- /.container -->	
	<div class="container pricing-table">
    <hr class="featurette-divider">
    <div id="faq-sec">
      <div class="row featurette text-center">
          <div class="col-sm-12">
              <h2 class="featurette-heading mRt35mP mRb30">
                <span class="text-caps">FAQ</span>
              </h2>
          </div>
      </div>
      <ul class="row list-unstyled row featurette feature-tour-overview cTr-sM col-pd ">
        <li class="col-sm-6 col-xs-12">
          <h3 class="featurette-heading-sm">Can I try BlackMonk before subscribing to a plan?</h3>
          <p class="small mRb15">Absolutely! You can request for a demo to start using BlackMonk. You will be notified by email with the login details of our demo site, where you can explore the features of BlackMonk.</p>
          <p class="small h6 Mrb30"><b>Note:</b> The login details of our demo site will be accessible only for 3 days from the date of login.</p>
        </li>
        <li class="col-sm-6 col-xs-12">
          <h3 class="featurette-heading-sm">How do I buy the Hosted Edition license?</h3>
          <p class="small">You can choose a plan and select the billing type (monthly/yearly). After you choose a plan, you will be asked to enter your account info and redirected to the payment gateway.</p>
        </li>
        <li class="clearfix"></li>
        <li class="col-sm-6 col-xs-12">
          <h3 class="featurette-heading-sm">How do I request for Enterprise Edition?</h3>
          <p class="small">BlackMonk CMS Enterprise Edition enables you to access full source code and you can request for any feature/design customization.Please click on the <a href="/request-quote/" target="_blank">"Request a Quote"</a> button and submit.</p>
        </li>
        <li class="col-sm-6 col-xs-12">
          <h3 class="featurette-heading-sm">Do we get to choose from different themes?</h3>
          <p class="small">Yes! Each plan has set of predefined themes tailored to suit your business. Choose a template based on your goals, content, and taste. This is an important decision, so make sure you choose the right template.</p>
        </li>
        <li class="clearfix"></li>
        <li class="col-sm-6 col-xs-12">
          <h3 class="featurette-heading-sm">Do I have to sign a long-term contract?</h3>
          <p class="small">There’s no contract on the monthly packages — you just pay as you go, and you can cancel any time without penalty. The Annual Package is a one-year contract billed month to month.</p>
        </li>
        <li class="col-sm-6 col-xs-12">
          <h3 class="featurette-heading-sm">Do I need another web host?</h3>
          <p class="small">No. All BlackMonk plans include our fully-managed cloud hosting, ensuring your website remains available at all times.</p>
        </li>
        <li class="clearfix"></li>
        <li class="col-sm-6 col-xs-12">
          <h3 class="featurette-heading-sm">How do I accept payments with BlackMonk Commerce?</h3>
          <p class="small">BlackMonk is tightly integrated with PayPal, Authorize.net and Stripe for accepting payments from your website users. The payments are directly credited to the payment gateway you configured in your website.</p>
        </li>
        <li class="col-sm-6 col-xs-12">
          <h3 class="featurette-heading-sm">How do I cancel the service?</h3>
          <p class="small">You may cancel your subscription at any time by sending an email to <a href="mailto://support@blackmonk.com">support@blackmonk.com</a> with your intent of cancellation.</p>
        </li>
        <li class="clearfix"></li>
         <li class="col-sm-6 col-xs-12">
          <h3 class="featurette-heading-sm">I dont have a domain name. Will you be providing a subdomain for my website?</h3>
          <p class="small">No ! We do not provide a sub-domain.</p>
        </li>
         <li class="col-sm-6 col-xs-12">
          <h3 class="featurette-heading-sm">Who else is using BlackMonk platform?</h3>
          <p class="small mRb15">From city portals, business directories, to mid and large publication companies. Here's a partial list of our <a href="/customers/" target="_blank">clients</a>.</p>
          <p class="small">Give BlackMonk a try. <a class="request_demo" href="/saas-request-demo/"  data-target="#request-demo" >Request a demo now!</a></p>
        </li>
      </ul>
      </div>
    </div>
<script type="text/javascript">
	   $('a[href^="#"]').on('click',function (e) {
		    e.preventDefault();
		
		    var target = this.hash;
		    var $target = $(target);
		
		    $('html, body').stop().animate({
		        'scrollTop': $target.offset().top
		    }, 900, 'swing', function () {
		    });
	   });
 </script>

    <!-- FOOTER -->  
	<div class="footer-actions">
    <div class="container">
    	<div class="row text-center">
    		 <div class="col-xs-4">
    		 	<div class="request-demo"><span class="icon"></span></div>
				<h3>Request a Demo</h3>
				<p class="lead" style="color: rgb(102, 102, 102) ! important;">Let our expert show you how BlackMonk can help you publish content, build community, and monetize traffic.</p>
				<p><a class="btn btn-success request_demo" href="/saas-request-demo/" role="button" data-target="#request-demo">Request a Demo</a></p>				
    		 </div>
             
    		 <div class="col-xs-4">
    		 	<div class="call"><span class="icon"></span></div>
				<h3>Questions? Call Us</h3>
				<p class="lead" style="color: rgb(102, 102, 102) ! important;">We are here to help you. <br>Talk to our expert.</p>
				<p class="contact">
					<span class="phone">+1 855-682-3330</span><br>
					<span class="email"><a href="mailto:contact@blackmonk.com" target="_blank">contact@blackmonk.com</a></span>
				</p>
    		 </div>
    	</div>
    </div> 
</div> 
<div class="modal fade" id="request-demo" tabindex="-1" role="dialog" aria-labelledby="request-demoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title" id="request-demoLabel">Request a Demo (SaaS Edition)</h3>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
        	<button class="btn btn-light ladda-button" id="demobotton" data-style="expand-left" onclick="save_demo();"><span class="ladda-label">Submit</span></button>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="download-spec" tabindex="-1" role="dialog" aria-labelledby="download-specLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title" id="download-specLabel">Download Specsheet</h3>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
        	<button class="btn btn-light ladda-button" id="downloadbotton" data-style="expand-left" onclick="downloadspec();"><span class="ladda-label">Submit</span></button>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div> 
     
    
<footer>
	<div class="container">
		<div class="row">
			<!-- div class="col-md-2 col-xs-3 col-tn-12 footer-logo">
				<a href="#">Blackmonk</a>
			</div-->
			<div class="col-md-2 col-xs-3 col-tn-6 col-md-offset-2">
				<h5>PRODUCT</h5>
				<ul class="footer-nav">
					<li><a href="/features/">Features</a></li>
					<li><a href="/showcase/">Showcase</a></li>
	
					<li><a class="request_demo" href="/saas-request-demo/" data-target="#request-demo">Request a Demo</a></li>
					
				</ul>
			</div>
			
			<div class="col-md-2 col-xs-3 col-tn-6 mRt20tn">
				<h5>BLACKMONK FOR</h5>
				<ul class="footer-nav">
					<li><a href="/city-portal/">City Portal</a></li>
					<li><a href="/national-portal/">National Portal</a></li>
					<li><a href="/radio-station-cms/">Radio Station Website</a></li>
					<li class="fade">.</li>
					<li class="fade">.</li>
					<li class="fade">.</li>
				</ul>
			</div>
			<div class="col-md-2 col-xs-3 col-tn-6">
				<h5>COMPANY</h5>
				<ul class="footer-nav">
					<li><a href="/about/">Our story</a></li>
					<li><a href="/team/">Team</a></li>
					<li><a href="/partners/">Partners</a></li>
                    <li><a href="/customers/">Customers</a></li>
                    <li><a href="/press/">Press</a></li>
					<li><a href="/terms-service/">Terms of Service</a></li>
					<li><a href="/privacy.html">Privacy Policy</a></li>
				</ul>
			</div>
			
			<div class="col-md-2 col-xs-3 col-tn-6 mRt20tn">
				<h5>CONNECT</h5>
				<ul class="footer-nav">
					<li><a href="/support/">Help & Support </a></li>
					<li><a href="/help">Knowledge Base</a></li>
					<li><a href="/blog/">Blog</a></li>
					<li><a href="/contactus/">Get in Touch</a></li>
					<li><a class="sMpfS10" href="mailto:contact@blackmonk.com" target="_blank">contact@blackmonk.com</a></li>
					<li class="social">
                    	<a href="https://twitter.com/blackmonkcom" class="twitter" target="_blank">Twitter</a>
                        <a href="https://www.facebook.com/blackmonkcom" class="facebook" target="_blank">facebook</a>
                        <a href="https://plus.google.com/112992211470718300676/" class="google" target="_blank">google plus</a>
                    </li>
				</ul>
			</div>
		</div>
		<div class="final clearfix sMpfS9 lTr-sPc">
            <!--span class="crafted"><a href="/humans.txt">Hand-crafted</a> by the <a href="http://doublespring.com" target="_blank">Doublespring Media</a></span -->
            <span class="copyright sMp-mRl-8">&copy; 2012-2016 All rights reserved.Blackmonk <a class="blackmonk-footer-logo" style='margin: -8px 8px !important;' href="/">Blackmonk</a> is a product of <a href="http://doublespring.com" target="_blank" style='display: inline-block;margin: -4.3px 0.8px;' >Doublespring</a>.</span>
        </div>
		<!-- div class="clearfix copy">
			<p class="pull-right">&copy; 2013 Blackmonk.</p>
		</div-->
	</div>
</footer>
 
 
	<!-- /END FOOTER -->
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/site.js"></script>
    <script src="/static/js/spin.min.js"></script>
    <script src="/static/js/ladda.min.js"></script>
	<script src="/static/js/selectDrop.js"></script>
	<script type="text/javascript" src="/static/js/jquery/bm.common.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
        $("a[data-target=#request-demo]").click(function(ev) {
           ev.preventDefault();
           target = $(this).attr("href");
        
           // load the url and show modal on success
           $("#request-demo .modal-body").load(target, function() {
                $("#request-demo").modal("show");
           });
        });
        $("a[data-target=#download-spec]").click(function(ev) {
            
           ev.preventDefault();
         
  				
           
           target = $(this).attr("href");
         

           // load the url and show modal on success
           $("#download-spec .modal-body").load(target, function() {
                $("#download-spec").modal("show");
               
           });
        });
		$("#demoform").validate({
			highlight: function(element, errorClass){$(element).parent().parent().addClass('field-error');$(element).addClass('error');},
			unhighlight: function(element, errorClass){$(element).parent().parent().removeClass('field-error');$(element).removeClass('error');},
			errorPlacement: function(error, element){},
		   	rules:{
				first_name:"required",
				email: {required:true,email:true},
				phone:"required",
		   	}
			
		});
		$("#specform").validate({
			highlight: function(element, errorClass){$(element).parent().parent().addClass('field-error');$(element).addClass('error');},
			unhighlight: function(element, errorClass){$(element).parent().parent().removeClass('field-error');$(element).removeClass('error');},
			errorPlacement: function(error, element){},
		   	rules:{
				name:"required",
				email: {required:true,email:true},
		   	}
			
		});
	});
</script>
<script>
var timeOut;
$('.request_demo').on('click',function(){
	if (typeof timeOut !=="undefined") {
		clearTimeout(timeOut);
	};
})

function save_demo(){
	var l = Ladda.create( document.querySelector( '#demobotton' ) );
    flag = $("#demoform").validate({
            highlight: function(element, errorClass){$(element).parent().parent().addClass('field-error');$(element).addClass('error');},
            unhighlight: function(element, errorClass){$(element).parent().parent().removeClass('field-error');$(element).removeClass('error');},
            errorPlacement: function(error, element){
				error.css('color','#CC3300');
      			error.insertAfter(element);
			},
            rules:{
                first_name:"required",
                email: {required:true,email:true},
                phone:"required",
                plan:"required",
            },
			messages: {
                first_name: "Please specify your name.",
				phone: "Enter your phone number.",
                email: {
                    required: "Enter your email address.",
                    email: "Please enter a valid email address.",
                },
			},
			errorElement: "span",
    }).form()
	if(flag){
	l.start();
    var dataString='first_name='+$('#first_name_id').val();
	dataString+='&email='+$('#email_id').val();
	dataString+='&company='+$('#company_id').val();
	dataString+='&website='+$('#website_id').val();
	dataString+='&phone='+$('#phone_id').val();
	dataString+='&type='+$('#type_id').val();
	dataString+='&plan='+$('#plan_id').val();
	/* setTimeout(function() {
   	$("#demobody").empty();
   	l.stop();
	$('#demobotton').html('Submitted');
	$('#demomsg').replaceWith('<div class="alert alert-success">Thank you for your request. Our support team will respond to you shortly.</div>').delay(100000);
	$('#demobotton').removeClass('disabled').html('Submit');
    }, 1000);
    timeOut = setTimeout(function() {
      $('#request-demo').modal('hide');
	}, 8000);
	 */
	$.ajax({
		type: "POST",
		url: "/saas-request-demo/",
		data: dataString,
		dataType:'JSON',
		success: function(data){
				l.stop();
				$('#request-demo').modal('show');
				
				if(data.status){
					$('#demobotton').html('Submitted');
					$("#demobody").empty();
					$('#demomsg').replaceWith('<div class="alert alert-success">Thank you for your request. Our support team will respond to you shortly.</div>').delay(100000);
					setTimeout(function(){
  						$('#request-demo').modal('hide');
						$('#demobotton').removeClass('disabled').html('Submit');
					}, 5000);
				}
				else{					
					$('#demomsg').replaceWith('<div id="demomsg"><div class="alert alert-warning">Email is already used. Please change email.</div></div>').delay(10000);
					setTimeout(function(){
  						$('#demomsg').empty();						
					}, 5000);
					setTimeout(function(){
						 $('#request-demo').modal('hide');
					},20000);
					//$('#request-demo .modal-dialog .model-body').empty().append(data.html);
					//alert("Your request cannot be processed, Please try again later");
				}
		}
	});
}
}
var timeOut2;
$('.btn-product').on('click',function(){
	if (typeof timeOut2 !=="undefined") {
		clearTimeout(timeOut2);
	};
})
function downloadspec(){
	var l = Ladda.create( document.querySelector( '#downloadbotton' ) );
    flag = $("#specform").validate({
            highlight: function(element, errorClass){$(element).parent().parent().addClass('field-error');$(element).addClass('error');},
            unhighlight: function(element, errorClass){$(element).parent().parent().removeClass('field-error');$(element).removeClass('error');},
            errorPlacement: function(error, element){
				error.css('color','#CC3300');
      			error.insertAfter(element);
			},
            rules:{
                name:"required",
                email: {required:true,email:true},
                
            },
			messages: {
                
				name: "Please specify your name.",
                email: {
                    required: "Enter your email address.",
                    email: "Please enter a valid email address.",
                },
			},
			errorElement: "span",
    }).form()
	if(flag){
	l.start();
    var dataString='email='+$('#email_id').val();
    dataString+='&name='+$('#name_id').val();
    dataString+='&type='+$('#type_id').val();
    setTimeout(function() {
   	$("#downbody").empty();
   	l.stop();
	$('#downloadbotton').html('Submitted');
	$('#specmsg').replaceWith('<div class="alert alert-success text-center"><strong>DOWNLOAD SENT SUCCESSFULLY</strong><br>Check your email for the specsheet</div>').delay(100000);
	$('#downloadbotton').removeClass('disabled').html('Submit');
    }, 1000);
    timeOut2 = setTimeout(function() {
      $('#download-spec').modal('hide');
	}, 8000);
	$.ajax({
		type: "POST",
		url: "/download-spec/",
		data: dataString,
		dataType:'JSON',
		success: function(data){
				//l.stop();
				// $('#download-spec').modal('show');
				//$('#downloadbotton').html('Submitted');
				if(data.status){
					//$("#downbody").empty();
					//$('#specmsg').replaceWith('<div class="alert alert-success text-center"><strong>DOWNLOAD SENT SUCCESSFULLY</strong><br>Check your email for the specsheet</div>').delay(100000);
					//setTimeout(function(){
  						//$('#download-spec').modal('hide');
						
					//}, 4000);
				}
				else{
					alert("Sorry!!Your request cannot be processed, Please try again later");
				}
		}
	});
}
}

</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-31833330-1', 'blackmonk.com');
  ga('send', 'pageview');

</script>
    
  </body>
</html>

